[2020-01-17 09:13] dependabot-preview[bot] opened #56 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/chintan9).

[View the update

[2020-01-18 03:41] #56 closed

[2020-01-18 04:36] chintan9 opened #65 "Update Docs"
Update Docs

[2020-02-22 21:56] SoldierCorp opened #128 "How to run the methods like play, pause, etc.?"

[2020-02-22 23:52] #128 closed

[2020-02-25 12:20] NicholasKuchiniski opened #136 "Add npm package install instructions on README"
I noticed that there is already a package in NPM (https://www.npmjs.com/package/plyr-react), if so, it would be interesting include this on documentation for a getting started tutorial.

[2020-02-25 21:37] chintan9 commented on #136
Sure I will include it

[2020-02-26 15:29] #136 closed

[2020-03-11 12:12] tommyboylab opened #162 "Unable to Import in NextJS -> Bundled CSS"
**Describe the bug**
Plyr is unable to be imported into a NextJS project as it contains bundled CSS.. Something that is not allowed as documented here.

https://github.com/zeit/next.js/blob/canary/errors/css-modules-npm.md

**To Reproduce**
Install plyr-react in a NextJS project
Import it to a file
Run the development server
See Error

**Expected behaviour**
I should be able to import the project,

[2020-03-27 15:29] codebefore opened #183 "Unsafe attempt to load URLDomains, protocols and ports must match."
Unsafe attempt to load URL https://bitividi-storage.s3.us-east-2.amazonaws.com/files/projects/a83fc6f0-9ee7-4e89-a810-6ccf844b4260/language-files/gagauzia_en_fqokulq2.5wd_tarih_12-03-2020.vtt from frame with URL http://localhost:3030/video?title=gagauzia. Domains, protocols and ports must match.

[2020-03-27 17:00] codebefore commented on #183
<video  crossOrigin="true" ...

[2020-03-27 17:00] #183 closed

[2020-04-05 20:09] moh3ni opened #189 "usage documentation"
Hello,
I am sorry for asking but I dont find any good usage documentation for this.

[2020-04-14 19:52] rommelmamedov commented on #128
@SoldierCorp Hi! Did you find out how to run these methods?

[2020-04-14 19:55] SoldierCorp commented on #128
@rommelmamedov No sorry, I gave up on this library and I used react-player instead

[2020-04-14 20:00] rommelmamedov commented on #128
Thank you! I checked the source code there is no available methods for this action in current component.

[2020-04-29 06:46] lvndry opened #201 "Typescript support"
Is there any plan to have support for Typescript?

[2020-05-01 18:11] chintan9 commented on #162
@tommyboylab  Can you share sample repo probably using gitpod

[2020-05-01 18:16] chintan9 commented on #201
It should work for typescript.  If it is not then you can share with me.

[2020-05-01 18:17] chintan9 commented on #189
Still work in progress in doc side. I use almost same plyr variable. Feel free to raise PR docs

[2020-05-05 09:25] madwyn commented on #201
It doesn't work with TypeScript, would you please help to fix?

[code]

[2020-05-05 09:46] madwyn commented on #201
Thanks for your work.

When using plyr-react with Ionic and TypeScript, it won't import and gives the following error:

[code]

I'm not a TypeScript expert, but it seems there are many ways to resolve this:
https://blog.atomist.com/declaration-file-fix/

[2020-05-05 18:46] chintan9 commented on #201
Use this way
https://stackoverflow.com/questions/55795060/how-to-import-js-in-ts-with-noimplicityany-and-without-allowjs

[2020-05-05 21:38] madwyn commented on #201
Thanks for the prompt feedback.

I know there are workarounds, but I'm wondering if this can be implemented in the library itself?

[2020-05-06 17:29] Mattb47 opened #212 "React Player Project"
Hey there,

Do you have interest in a small project with react player?

[2020-05-11 04:33] quan17 opened #215 "Could you add API to re-render the component if passing new props like `sources` to component?"
Hey man, great work!
Could you add API to re-render the component if passing new props like `sources` to component? Currently it only read props from `didMount()`. If you will read nextProps, we can control the player in runtime.
Thank you!

[2020-05-31 13:16] iamshouvikmitra opened #227 "Speed Popover goes out of screen"
**Describe the bug**
The popover that come when clicking on the setting icon in type: "audio", goes out of screen when placed at position that is close to the top of the screen.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://react-vfptdd.stackblitz.io/'
2. Click on 'Settings Icon'
3. Click on 'Speed'
4. See the options for selection goes out of the screen

**Expected behavior*

[2020-06-13 14:57] iamshouvikmitra commented on #227
Any updates?

[2020-06-23 20:18] iamshouvikmitra commented on #227
Hi @chintan9 ,
Could you guide me to correct place so that I can generate a PR?

[2020-06-30 17:22] chintan9 commented on #227
Hi @iamshouvikmitra

Please fork my repo.

Follow this https://github.com/chintan9/plyr-react#getting-started-for-development

Raise the PR for master .

You may use gitpod if you do not want to complicate your dev set up.  Just click on https://gitpod.io/#https://github.com/chintan9/plyr-react
login with github and raise pr against master

[2020-07-14 17:41] iwatakeshi opened #261 "Convert project to TypeScript"
Hi 👋 ,

I was about to create a draft PR but I've noticed you've merged my fork into a new branch. I've created this issue to give you a heads up and also a run down of the changes.

Heads up:

I'm waiting on a new release from `plyr` since I [fixed](https://github.com/sampotts/plyr/pull/1900) a type issue yesterday.  Also, I'm still testing this is in a Next.js project so I'll let you know if eve

[2020-07-14 19:00] chintan9 commented on #261
I will update on review tomorrow

[2020-07-14 19:18] iwatakeshi commented on #261
@chintan9 Sounds good

[2020-07-29 09:59] ThreshHNS commented on #261
Any updates?

[2020-07-29 15:19] jonrrivera opened #275 "NextJS Global CSS"
Unfortunately, this module cannot be integrated into next.js because it is importing Global CSS from within node_modules. NextJS require CSS declarations to happen in parent _app.js.

Here is an [example](https://swiperjs.com/react/) of a react/NextJS integration that allows for individual CSS module declarations in _app.js.

If we import PlyrComponent into a react component and follow this [examp

[2020-07-29 16:38] iwatakeshi commented on #261
The PR has already been merged. I'm not sure if @chintan9 wants to make the changes I've mentioned [here](https://github.com/chintan9/plyr-react/pull/264#issuecomment-662687603), but if he does then that's all that needs to be done...I think.

@chintan9 You could publish the package as `alpha` and see if things work, even though we're waiting on a new `Plyr` release. You'll just have to add to the

[2020-07-29 18:14] jonrrivera commented on #275
These links help as reference:

https://github.com/vercel/next.js/discussions/11664
https://github.com/vercel/next.js/blob/master/errors/css-npm.md

[2020-07-29 18:37] chintan9 commented on #261
You can raise PR

[2020-07-29 18:38] chintan9 commented on #275
I have working on convert this project to react hooks and typescript.

[2020-07-29 18:39] jonrrivera commented on #275
Great, please let me know if you need any help.

[2020-07-30 16:14] chintan9 commented on #275
https://github.com/chintan9/plyr-react/tree/v3-master

Please review it

[2020-07-30 17:44] iwatakeshi commented on #275
@jonrrivera I've just created a PR with some changes.

@chintan9 I'll need you to merge and publish an alpha version if possible. You can use a tool like [np](https://github.com/sindresorhus/np#readme) to create a release

[2020-09-10 13:37] calebdeji opened #308 "Convert to Typescript to aid intellisence and provide type support"
Development will be easy if we have our editors can provide IntelliSense. Type errors are easily encountered when  we input props without IntelliSense

Typescript provides types support which will actually provide IntelliSense during development and save us from unnecessary type error

If this feature is welcomed, I can raise a PR for this issue. Thanks

[2020-09-22 16:29] #212 closed

[2020-09-22 16:29] #215 closed

[2020-09-25 18:45] chintan9 commented on #201
@lvndry use to v3 now

[2020-09-25 18:45] #201 closed

[2020-09-25 18:49] chintan9 commented on #308
@calebdeji  use v3

[2020-09-25 18:49] #308 closed

[2020-09-25 18:49] chintan9 commented on #261
@iwatakeshi  Done

[2020-09-25 18:49] #261 closed

[2020-09-25 18:50] chintan9 commented on #189
@moh3ni try to use v3 now

[2020-09-25 18:50] chintan9 commented on #275
@jonrrivera  Can you retest it

[2020-09-25 18:51] chintan9 commented on #162
@tommyboylab  Can you retest it v3 again ?

[2020-09-30 22:10] mnervik opened #339 "Using ref-property"
In my project I'm using `ref` to get the video-element, but that is no longer working as of *3.0.0*
Any chance of making it work again, or to make an alternative way to get the VideoElement-node?

[2020-10-01 18:06] chintan9 commented on #339
@mnervik  Can you share code or snippet of example?

[2020-10-01 19:04] chintan9 commented on #227
@all-contributors please add @iamshouvikmitra  for tests

[2020-10-01 19:06] chintan9 commented on #227
@all-contributors please add @iamshouvikmitra for User Testing and Bug reports

[2020-10-01 19:08] chintan9 commented on #275
@all-contributors please add @jonrrivera for User Testing, Examples and Bug reports

[2020-10-01 19:11] chintan9 commented on #275
@all-contributors please add @iwatakeshi for Ideas & Planning, Answering Questions, Translation, User Testing, Examples and Bug reports

[2020-10-01 19:13] chintan9 commented on #128
@SoldierCorp We publish new lib checkout

[2020-10-01 19:14] chintan9 commented on #136
@all-contributors please add @NicholasKuchiniski  for User Testing and Bug reports

[2020-10-01 19:18] chintan9 commented on #201
@all-contributors please add @lvndry for Bug reports

[2020-10-01 19:18] chintan9 commented on #308
@all-contributors please add @iamshouvikmitra for Bug reports

[2020-10-01 19:20] chintan9 commented on #308
@all-contributors please add @calebdeji for Bug reports

[2020-10-01 19:21] chintan9 commented on #215
@all-contributors please add @quan17 for User Testing and Bug reports

[2020-10-01 19:23] chintan9 commented on #162
@all-contributors please add @tommyboylab for Bug reports

[2020-10-01 19:24] chintan9 commented on #189
@all-contributors please add @moh3ni  for Bug reports

[2020-10-01 19:25] chintan9 commented on #339
@all-contributors please add @mnervik for Bug reports

[2020-10-01 19:34] chintan9 commented on #227
@all-contributors please add @iamshouvikmitra for User Testing, tests and Bug reports

[2020-10-01 19:44] SoldierCorp commented on #128
Thank you @chintan9!

[2020-10-01 19:59] chintan9 commented on #339
@all-contributors please add @mnervik for Bug reports

[2020-10-01 20:00] chintan9 commented on #275
@all-contributors please add @jonrrivera for User Testing, Examples and Bug reports

[2020-10-04 07:43] mnervik commented on #339
For testing I created a react app using the `create-react-app` boilerplate, and then imported `plyr-react` and created a new component named `VideoComponent`

[code]

This code is working before updating to 3.x,x, but in the latest version it gives the warning *Function components cannot be given refs*, and tells me that my variable is `undefined`.

[2020-10-04 18:32] iwatakeshi commented on #339
@mnervik I think I've got a fix for it. Try it out by changing your `package.json` to:
[code]
then run `npm update` or `yarn upgrade` (I think)

Let me know if it works.

[2020-10-04 22:06] mnervik commented on #339
Yeah, it works

[2020-10-05 11:25] paschaldev opened #366 "How to use player events like `onplay`"
Ref are not working properly with functional components and I can't figure out how to useplayer events. Any help would be appreciated

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I need to get the onplay events and get the current time of the video as well via the refs

[2020-10-05 15:47] iwatakeshi commented on #366
@paschaldev Please see #339. There's a PR pending (#355) so once it's reviewed by @chintan9, he'll be able to publish it.

[2020-10-05 18:27] #366 closed

[2020-10-05 20:06] chintan9 commented on #366
@iwatakeshi  Release v3.0.4 with your change.

[2020-10-05 20:07] chintan9 commented on #339
@mnervik It is fixed v3.0.4

[2020-10-06 12:31] mnervik commented on #339
Eh, apparently I't not quite that easy 😄
the ref does not seem to update when the video changes...In my case it always says
[code]
and if you try to return the `.currentTime`-property, it always returns 0

## App.js
[code]

[2020-10-06 17:16] iwatakeshi commented on #339
@mnervik I didn't use `React.Component`, but I think is similar to what you are looking for and it works on my end:

[code]

**Note**: I just added the types so they are not available yet.

[2020-10-06 20:52] mnervik commented on #339
1. That seems awefully complicated compared to what I was using with the previous version

2. **One important note!**....Because of `setTimeout` & `setInterval` not always behaving as they should this might cause issues. By that I mean that if you start playing a video, and then switch to another browser tab, in modern browsers `setInterval` is given a lower priority and thus would probably just u

[2020-10-07 04:52] iwatakeshi commented on #339
@mnervik If you're still using `fix/forward-ref` branch, try running the `update` command (or reinstall `node_modules`) and see if it's fixed now. Note that the property to access the `plyr` instance is `this.player.current.plyr`.

[2020-10-07 08:21] mnervik commented on #339
That seems to work just fine

[2020-10-07 21:28] #339 closed

[2020-10-07 23:11] chintan9 commented on #339
@mnervik  Please use v3.0.5

Thanks @iwatakeshi for fix

[2020-10-08 10:16] tommyboylab commented on #162
I'll look to re-implement it, confirm if it's working or not once I do. :+1:

[2020-10-09 01:42] #227 closed

[2020-10-09 03:12] paschaldev opened #376 "Crashes on re-rerender"
**Describe the bug**
When there is a state update in a component where the `Plyr` is, it crashes.

**To Reproduce**
In a functional component with `plyr-react` already rendered, trigger a state change

[code]

**Expected behavior**
Player should be able to work during re-renders

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercon

[2020-10-09 04:32] iwatakeshi commented on #376
@paschaldev Can you provide a repro? Either a repository or a [sandbox](https://codesandbox.io/index2) would be great. Thanks.

[2020-10-16 10:59] DBankx opened #378 "Crashes on component re render"
The plyr functional component crashes on component unmounting and re mounting.
i have tried using the ref to try and access the destroy method, to destory the instance of the player, but it seems like the destroy method doesnt exist in your current application of plyr

**To Reproduce**
Steps to reproduce the behavior:
1. Add the plyr component
2. Try and re render the component... the player stops

[2020-10-16 16:27] chintan9 commented on #378
@DBankx  Can share as codesandbox ?

[2020-10-16 17:03] DBankx commented on #378
im currently busy so i will just copy and paste the code. sorry.
//
import React, {Fragment, useEffect, useRef} from "react";
import {observer} from "mobx-react-lite";
import {IClip} from "../../../infrastructure/models/clip";
import Plyr from "plyr-react";
import 'plyr-react/dist/plyr.css';

interface IProps{
    clip: IClip
}

const ClipPlayer: React.FC<IProps> = ({clip}) => {
    const ref = us

[2020-10-16 18:07] iwatakeshi commented on #378
@DBankx Try this branch out add see if this fixes your problem:

[code]

[2020-10-17 02:25] chintan9 commented on #376
https://github.com/chintan9/plyr-react/issues/378#issuecomment-710342253
Please try this solution @paschaldev

[2020-10-23 19:25] #376 closed

[2020-10-23 19:25] #378 closed

[2020-10-25 09:09] inier opened #381 "3.0.6 this.player.current.plyr fetch err"
// Component class
[code]

[2020-10-25 18:52] iwatakeshi commented on #381
@inier Hi. Please use back-ticks to format your code.

Instead of:

[code]

Try:
[code]

@chintan9 If this works, then there's a branch `fix/docs` with the fix. It just needs to be merged.

[2020-10-26 19:28] todo[bot] opened #394 "']"
https://github.com/chintan9/plyr-react/blob/8c3ddb2a6240a3c764828780dba8e89c3a3b0738/.github/starrycake.yml#L76-L81

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8c3ddb2a6240a3c764828780dba8e89c3a3b0738 when #393 was merged. cc @chintan9.

[2020-10-26 19:28] todo[bot] opened #395 "` label. If false, don't add any label.You can also give it a label name or an a..."
https://github.com/chintan9/plyr-react/blob/8c3ddb2a6240a3c764828780dba8e89c3a3b0738/.github/starrycake.yml#L83-L88

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 8c3ddb2a6240a3c764828780dba8e89c3a3b0738 when #393 was merged. cc @chintan9.

[2020-10-26 19:30] chintan9 commented on #395
False postive

[2020-10-26 19:30] #395 closed

[2020-10-26 19:31] chintan9 commented on #394
false postive

[2020-10-26 19:31] #394 closed

[2020-10-27 19:05] chintan9 commented on #378
@DBankx  Published v3.0.7 with fix. Please retest it

[2020-10-27 19:10] chintan9 commented on #65
@all-contributors please add @chintan9 for User Testing and Bug reports

[2020-10-27 19:26] chintan9 commented on #65
@all-contributors please add @chintan9 for Documentation

[2020-10-27 19:44] chintan9 commented on #65
@all-contributors please add @chintan9 for Documentation

[2020-10-27 19:46] #65 closed

[2020-10-28 18:24] chintan9 commented on #381
It was merged @iwatakeshi and @inier.

I am closing this issue.

[2020-10-28 18:24] #381 closed

[2020-10-29 11:25] bbevren opened #401 "React lazy css not showing"
Hi, when component uses react lazy, plyr.css is not imported and plyr is not visible.

//App.js router
import React ,{ lazy, Suspense } from 'react';
const Track = React.lazy(() => import('./Track'));

//Track.js
import { PlyrComponent } from 'plyr-react';

[2020-10-30 04:10] iwatakeshi commented on #401
@bbevren Hi. Would you be able to provide a repro? It would speed things up for me. Thanks.

[2020-11-11 19:57] CMella opened #413 "Duration functions"
Sorry if this is a dumb question but is there a way to trigger a function when the video is done playing? Likewise is there a way to access the current time and duration of the video being played?

[2020-11-11 20:53] iwatakeshi commented on #413
@CMella You'll need to use a `ref` to access those properties. See [this example](https://github.com/chintan9/plyr-react#using-ref).

[2020-11-13 17:12] #162 closed

[2020-11-13 17:12] #189 closed

[2020-11-13 17:12] #275 closed

[2020-11-18 01:29] Min1994 opened #418 "Example demo"
Im not sure if this is just me but for some reason I can't play the demo ( example) one. I tried using this library and have the same issue.

[2020-11-19 00:50] chintan9 commented on #418
https://stackblitz.com/edit/react-fpmwns?file=src%2FApp.js  use this as demo @Min1994

[2020-11-19 23:05] #418 closed

[2020-11-19 23:06] #413 closed

[2020-11-30 17:09] joelsiks opened #428 "Support for captions via HTML <track> tag"
It'd be really nice to be able to pass in some captions option object with the caption url and language etc.

Something that would look like this: https://github.com/sampotts/plyr#html5-video

[2020-12-03 10:39] anshulporwal26 opened #429 "Cannot read property 'plyr' of null"
**Describe the bug**
A clear and concise description of what the bug is.
Not able to access ref. I'm trying this in a class component as mentioned in the docs. Getting this error: **Cannot read property 'plyr' of null**

I'm using v3.0.7.

[2020-12-03 12:08] #429 closed

[2020-12-21 13:09] chintan9 commented on #428
@joelsiks  I was able pass use tracks using JS.

demo:  https://react-1t11om.stackblitz.io/

code: https://stackblitz.com/edit/react-1t11om?file=src/App.js

you can help me raise PR and I can look into that.

[2021-01-07 14:46] CMella opened #443 "Player.on is not a function"
Trying to fetch events at multiple intervals and getting the error above, here's my code for reference:

export default function VideoPlayer() {

const player = useRef()
useEffect(() => console.log(player.current.plyr))

player.on('ended', event => {
    console.log('ended');
});

return (
<---ADDING A COMMENT CAUSE IT WAS HIDING MY PLYR--->
< Plyr options={ABC} ref={vidPlyr} source={XYZ} />
);

}

[2021-01-13 16:57] CMella opened #447 "Dynamically change source"
I don't think it's fair to call this a feature request because I'm sure there's a way to do this out of the box but I'd love it if this were clearer.

What is the easiest way to change the content in the player? To give some context I'm trying to create a playlist functionality that will allow for a user to click from the menu and change the source of the video dynamically.

I've tried using ref (

[2021-01-13 19:56] iwatakeshi commented on #447
@CMella Hi, this is an example to show how you can change it dynamically:

https://codesandbox.io/s/serene-darkness-el6rx?file=/src/App.tsx:791-809

Because it's on codesandbox, it may be a little quirky, but it did work for me when I refreshed the page.

[2021-01-14 17:24] CMella commented on #447
@iwatakeshi I tried the solve you suggested and I'm having some trouble getting it to work.

See the code below:

`
import React, {useRef, useEffect, useState} from "react";
import Plyr from 'plyr-react'
import "plyr-react/dist/plyr.css";

export default function VideoPlayer(props) {

const {playlist, options} = props;
const [vidIndex, setIndex] = useState(0);
const sources = playlist.map(video =>

[2021-01-14 19:06] CMella commented on #447
@iwatakeshi  Sorry for

[2021-01-14 19:06] #447 closed

[2021-01-14 19:25] iwatakeshi commented on #447
@CMella I'm glad you figured it out. Here's a sample in case you want to use it as a reference:
https://codesandbox.io/s/serene-darkness-el6rx?file=/src/App.tsx

[2021-01-14 19:27] #401 closed

[2021-02-15 09:35] Min5407 opened #474 "plyr setting control bug"
**Describe the bug**
Hi,  I am trying to show quality in the setting control but for some reason it doesn't work in react plyr. It looks like it works in vanilla Js but in react it doesnt work. The default seems like it only shows the speed in the setting control so could you help me out on how to solve this issue.

 <Plyr
          ref={videoRef}
          source={{
            type: 'video',

[2021-02-20 01:17] FREEZX commented on #378
Not sure if i'm getting the same issue, but in my case, Plyr seems to restart playing if any redraw occurs. Not sure if i'm doing something wrong or if I missed an option.
[CodeSandbox here](https://codesandbox.io/s/react-colorful-demo-forked-ysq2h?file=/src/SlideControl.js). note that the video restarts every 6 seconds because i'm changing an unrelated state value.

[2021-02-23 17:50] marcusstenbeck commented on #378
@FREEZX It's because you're creating a new options or settings object each frame. You can use `useMemo` too keep them stable.

[code]

[2021-02-23 19:00] iwatakeshi commented on #378
@FREEZX As pointed out by @marcusstenbeck, changing options will re-render the component
https://github.com/chintan9/plyr-react/blob/8d579121879dc3969e93b568c21e964e75153931/src/index.tsx#L41

If you believe `options` shouldn't be a dependency, feel free to create a PR.

[2021-02-23 19:03] iwatakeshi commented on #474
@Min5407 Would it be possible if you can create a sandbox to demonstrate the issue? From the top of my head, all settings are passed to Plyr so I'm not sure what the issue would be.

[2021-02-24 13:22] FREEZX commented on #378
I think the current behaviour is unintuitive, because even the given example usage is creating a new object and passing it directly:
https://github.com/chintan9/plyr-react#usage
Probably the best way to fix it would be to either:
- Check for deep equality and bail early if old and new options are equal
- Use plyr setters to change aspects of the player itself

[2021-03-16 12:22] kestvir opened #501 "Overlay button on HTML5 video is not present"
**Describe the bug**
I'm not sure if this is the default behavior, but the overlay play button is not present when the HTML5 video is loaded or paused.

**To Reproduce**
Steps to reproduce the behavior:
Load the component .

**Expected behavior**
An overlay button should appear on video load and pause.

**Desktop (please complete the following information):**
Browser: Chrome.

[2021-03-16 12:42] kestvir opened #502 "YouTube videos are not played when initially clicking on the video container."
**Describe the bug**
When YouTube video is loaded, clicking the video container does not play the video. Only when the video is played using the plyr controls play button (in the bottom of the player) does the video start to get played and paused when the video container is clicked.

**To Reproduce**
Load a YouTube video and press on the container.

**Expected behavior**
The YouTube video should b

[2021-03-18 00:48] mikestecker opened #510 "Scrolling produces redraw"
Just implemented into a new dev project which is a NextJS project, and I noticed that on page scroll, Plyr redraws the entire video object on scroll. If playing the video and you scroll. The video returns to the initial state.

UPDATE: I'm seeing the following error in my browser console: `The service worker navigation preload request was cancelled before 'preloadResponse' settled. If you intend t

[2021-03-18 09:39] kestvir commented on #501
Got this fixed by passing the controls array to the options prop and specifying the desired controls.

[2021-03-18 09:39] #501 closed

[2021-03-19 23:14] kestvir opened #511 "Volume and mute don't change when props are passed into the component."
**Describe the bug**
Volume and mute don't change when props are passed into the component.

**To Reproduce**
Pass the volume and muted props inside options prop.

**Expected behavior**
Video player should reflect the changes of the passed down props.

**Screenshots**
https://stackblitz.com/edit/react-sfov8t

**Desktop (please complete the following information):**
Browser: Chrome.

[2021-03-27 06:49] chintan9 commented on #502
@kestvir  Can you create demo code over https://stackblitz.com/ ?

That way we fix this issue faster?

[2021-03-27 06:57] chintan9 commented on #510
@mikestecker  Can you create demo code over https://stackblitz.com/ ?

That way we fix this issue faster?

[2021-03-28 18:16] feyyyyylo opened #515 "d"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-08 17:08] mnervik opened #525 "Hls support"
Is HLS not supported by this package?

It seems like the *blob*-data is not rendered when using hls.

[2021-05-03 05:35] feyyyyylo opened #543 "> Use the IPv4 BIN file if you just need to query IPv4 addresses."
But when using the IPv6 BIN file, getting `countryCode => 'Invalid IPv6 address.' ` when  `$record = $this->IP2Location->get($this->request->clientIp());` with an IPv4 on `get()`

__Originally posted by @yrat in https://github.com/ip2location/ip2location-cakephp/issues/3__

[2021-05-03 12:05] feyyyyylo opened #547 "Would be nice to automatically acquire types when someone types something like:"
Would be nice to automatically acquire types when someone types something like:

[code]

See https://github.com/microsoft/TypeScript-Website/issues/134

__Originally posted by @dsherret in https://github.com/dsherret/ts-ast-viewer/issues/68__

[2021-05-26 21:23] SalaKrisztian opened #562 "Error with react router"
**Describe the bug**
I get this issue when i'm switching the route.

Uncaught DOMException: Node.removeChild: The node to be removed is not a child of this node.
**To Reproduce**
Steps to reproduce the behavior:
1.Create a video component. The source can be anything, even youtube.
[code]
2.Add routing:
[code]
3. When going to an other route from localhost/videoplayer, i get the error described abo

[2021-06-02 21:47] chintan9 commented on #562
@SalaKrisztian Can you create sample at stackblitz.io ? That way we can see that issue.

[2021-06-03 14:25] i-ked-ii opened #568 "Can i add custom controls"
I want to add header or something in header. It's like example https://codepen.io/jwjcmw/pen/pedQRL or http://jsfiddle.net/onigetoc/ehqu4o6x/

<img width="865" alt="Screen Shot 2564-06-03 at 21 25 42" src="https://user-images.githubusercontent.com/23306577/120661297-54bfa280-c4b2-11eb-92dc-222491cd43b8.png">

[2021-06-04 04:50] i-ked-ii commented on #568
I got it. This is my option. example in the bottom.

[code]

[2021-06-04 04:50] #568 closed

[2021-06-16 21:50] feyyyyylo opened #577 "IMO, the CommonJS module environment checks coded here, i.e."
IMO, the CommonJS module environment checks coded here, i.e.
[code]
will raise an exception if `module==null`. They should be changed to
[code]

__Originally posted by @hjerabek in https://github.com/umdjs/umd/issues/139__

[2021-07-03 01:57] M2G commented on #525
Hi (for the author of the project),

I have implemented HLS management in my project, you could be inspired if you wish :

- https://github.com/M2G/react-plyr

Sincerely

[2021-07-03 15:35] amirHossein-Ebrahimi opened #585 "update ref binding and plyr construction"
Hi
First of all your typescript package ecosystem is really great and works perfectly with react.
But, the logic for instantiating PlyrJS and binding ref can be done with [react-aptor](https://github.com/amirHossein-Ebrahimi/react-aptor) behind the scene.

the package size is 351B and it also lets you have all API binding, deconstruction of the package (at clearing effects), ref binding, ... all w

[2021-07-26 14:56] sadeghi4j opened #605 "crashing when set options"
Hi,
Thank you for your component.
setting options={{seekTime:2}} causes crash (all event listeners are called frequently)
How is it posible to change default value?
Thanks

[2021-07-27 18:32] chintan9 commented on #585
@amirHossein-Ebrahimi  Can you create pr for me so we can look after that?

[2021-07-27 18:32] #577 closed

[2021-07-27 18:32] #547 closed

[2021-07-27 18:32] #515 closed

[2021-07-28 05:43] amirHossein-Ebrahimi commented on #585
of course, I'll keep you updated.

[2021-08-02 16:26] nachogonzalezqq opened #614 "Subtitles not working"
**Describe the bug**
Subtitles are not being shown, and CC on/off button does nothing.

**To Reproduce**
Just include the following Plyr component:

<Plyr
            source={{
                type: 'video',
                title: 'example title',
                sources: [
                    {
                        src: 'http://content.bitsontherun.com/videos/3XnJSIm4-DZ7jSYgM.mp4',

[2021-08-04 20:39] sloreti commented on #378
To add to @FREEZX's concerns, the [React docs](https://reactjs.org/docs/hooks-reference.html#usememo) say that,

So in future version of React, even if you memoize the props being passed to the `Plyr` component, the video might restart when the parent component rerenders.

[2021-08-10 12:42] amirHossein-Ebrahimi commented on #585
First of all sorry for the delay, I was really working on my university projects

These are todos I can do but must check them out with you before coding

- [ ] Removing PropTypes usage in production

- [ ] Remove default prop-types in production making and make code smaller
- [ ] restructure and separate types and react-aptor logics
- [ ] node-sass installation problem

[code]

[2021-08-19 16:50] #585 closed

[2021-08-19 17:02] chintan9 commented on #605
@sadeghi4j Can you create sample at stackblitz.io ? That way we can see that your example .

[2021-08-19 17:02] chintan9 commented on #614
@nachogonzalezqq Can you create sample at stackblitz.io ? That way we can see that issue.

[2021-08-26 04:18] charan0017 opened #628 "Build Error for v3.0.9"
I just updated `plyr-react` package from `3.0.8` to `3.0.9` and tried to re-build my react project.
It just failed with the following error message!
[code]
![error img: https://i.imgur.com/7KdrPGn.png](https://i.imgur.com/7KdrPGn.png)
my node.js version is ``v14.17.5``

[2021-09-02 00:01] nachogonzalezqq opened #636 "onEnded event"
It would be nice to have en event fired when current video ends.

[2021-09-02 13:33] #636 closed

[2021-09-02 23:45] nachogonzalezqq commented on #614
Hi @chintan9 ! Sorry for the delay. You can see a code example [here](https://stackblitz.com/edit/react-q97uow?file=src/App.js).

There you can see 2 different source objects. One of them gets the CC file from a remote source. That generates a CORS error (original plyr seems to have a way to configure cross-origin to allow this, it would be a nice feature!).

Second source object gets CC file from

[2021-09-03 16:32] pabacham commented on #628
I experience the same issue

[2021-09-05 06:27] chintan9 commented on #614
https://react-gn25f3.stackblitz.io/

Use same domain will work well.

[code]

[code]

[2021-09-16 18:18] chintan9 commented on #628
Can try with v3.2.0

[2021-09-17 02:16] charan0017 commented on #628
I just installed v3.2.0. But, still getting the same error!

![image](https://user-images.githubusercontent.com/18901499/133713386-61955ea9-e0b1-4a24-818d-53c115530a17.png)

[2021-09-17 05:46] amirHossein-Ebrahimi commented on #628
@charan0017, The issue appears to be caused by `postcss-custom-properties` processing an already minified plyr.css file.

By adding the following to your package, you can utilize yarn resolutions for react-scripts to use the same version.

[code]

for a more detailed explanation, you can see [this answer](https://github.com/facebook/create-react-app/discussions/10095#discussioncomment-133541) and

[2021-09-17 08:59] amirHossein-Ebrahimi commented on #525
HLS can also be supported via a wrapper component using `hls.js`

[code]

Here is full example code sandbox example

[![Edit on code sandbox](https://camo.githubusercontent.com/90808661433696bc57dce8d4ad732307b5cec6270e6b846f114dcd7ee7f9458a/68747470733a2f2f636f646573616e64626f782e696f2f7374617469632f696d672f706c61792d636f646573616e64626f782e737667)](https://codesandbox.io/s/hidden-frost-mpdjj?fil

[2021-09-17 09:47] charan0017 commented on #628
Wow, It just worked like Charm! Thanks. 😃

[2021-09-18 13:51] amirHossein-Ebrahimi commented on #428
@joelsiks, you can add tracks array to  Plyr SourceInfo via props

e.g.
[code]

Here is an example of [mdn \<track\> tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track) video, integrated with `plyr-react`.

[![Edit on code sandbox](https://camo.githubusercontent.com/90808661433696bc57dce8d4ad732307b5cec6270e6b846f114dcd7ee7f9458a/68747470733a2f2f636f646573616e64626f782e696f2f7374

[2021-09-18 13:59] amirHossein-Ebrahimi commented on #525
I'm going to close this issue since HSL support as a ready-to-use integration may not be the greatest option right now.

It would be beneficial if you could provide any more details.

[2021-09-18 13:59] #525 closed

[2021-09-19 08:26] mnervik commented on #525
## More Details (written in JS, not TS)
### This code works in the previous version of plyr-react (2.2.1)
[code]

### What I expected to be able to use in plyr-react (3.2.0)
- And yes, that example you used would work, but it's not really good practice to use document.getElementById inside react...
[code]

[2021-09-19 13:54] amirHossein-Ebrahimi commented on #525
Thank you @mnervik for your report, I will check it out soon and see the differences between these two versions.

[2021-09-20 13:42] lukaszrzasa commented on #628
not working with pnpm

[2021-09-22 15:07] lukaszrzasa commented on #628
pnpm steps:

- copy css code from `./node_modules/plyr-react/dist/plyr.css`
- use css unminify ( [https://unminify.com/](https://unminify.com/) for example)
- create `_plyr.scss` file in any project location
- paste unminified code
- import your `_plyr.scss` file instead of original .css file
- done, all works!

// probably unminifier is not required - not tested :)

[2021-09-25 10:59] sam-flavour opened #649 "Building error"
My functional component looks something like this:

[code]

But after updating to v3.2.0 I get the following error on build at the marked line above:

[code]

How can I fix this? I already tried several ways, but each time there is another issue...

[2021-09-29 00:40] CO0Ki3 commented on #649
I also faced a problem that I couldn't find a ref.currnet.plyr values. I tried to correct the error, but I didn't know why it came to null in any way. After hours of searching, I checked that version was updated in my node_modules, and when I downgrade to the 3.0.8 version which I used before, it worked well without bugs.

[2021-10-04 20:35] nachogonzalezqq commented on #614
Hi! But if I need to be able to load captions dinamically, with a backend that retrieves both an url to get the video as well as an url to get the captions, do I have to save those captions into public folder each time? We are serving everything over https

[2021-10-04 22:20] nachogonzalezqq commented on #614
Well so I managed to figure this out. This is how my component looks like:

<Plyr source={mediaSource} crossOrigin="anonymus" />

Of course that mediaSource object is as showed in documentation, and it includes captions from a different domain. It works as expected on firsts tests, I'll re-open this incident if something comes up.

[2021-10-04 22:20] #614 closed

[2021-10-09 04:44] amirHossein-Ebrahimi commented on #649
Sorry for the delay in response and sorry for the lack of documentation about this problem.

The Project has been updated to become and functional component. This makes the code more react-ish duo to the new version of React.

In new versions (3.0.2>=), the ref doesn't access the HTMLVideElement anymore, it accesses the wrapper around that component which comes with its own handlers type called (A

[2021-10-11 04:20] gamestap99 opened #654 "How about keep state?"
i am using video in a tab. when chaning tab i lost video state. How about fix it?

[2021-10-11 04:48] gamestap99 commented on #654
Update issue when i changing a tab then the iframe be removed. then i turn back and i seen no iframe

[2021-10-14 09:46] #654 closed, assigned to realamirhe

[2021-10-15 10:04] gamestap99 opened #656 "A few questions about hls video example!"
Hi, I was readed your hls video example. I have a question about a line code this `ref.current!.plyr.media = video`. What do you do at this line?

[2021-10-16 05:08] amirHossein-Ebrahimi commented on #656
Hi @gamestap99, I moved your question to the [discussion QA section](https://github.com/chintan9/plyr-react/discussions/658#discussion-3628467), I will also post the answer there too.

Issues seem to be stressful 😂, we try to keep it only for bugs and features 😉

[2021-10-16 05:08] #656 closed

[2021-10-20 05:17] amirHossein-Ebrahimi opened #667 "Main challenges you have using plyr-react?"
We're planning to rewrite the documentation, which will save you a ton of time testing and let you move on to the task you want to do. To do so, we'll need to know the major problems you've encountered when using plyr-react.
You may also send us features that you're attempting to reproduce by integrating with other third-party packages.

_Originally posted by @amirHossein-Ebrahimi in https://githu

[2021-10-23 09:20] qinyiyao opened #668 "Server-Side Rendering Support"
**Is your feature request related to a problem? Please describe.**

`ply-react` doesn’t really work with static site generators like Gatsby. It will produce the good ol’ “`document` is not defined” error.

**Describe the solution you'd like**

An out-of-the-box SSR implementation, or at least some documentation on workarounds.

**Describe alternatives you've considered**

I’ve been using `loadable

[2021-11-03 05:18] amirHossein-Ebrahimi commented on #511
Hi @simon2004davies
Did you get time to test the latest version in your project, I'm existed to hear your feedback

[2021-11-03 05:21] amirHossein-Ebrahimi commented on #668
Hi @qinyiyao 👋🏻
Did you manage to fix the issue for your project, I'm existed to hear your feedback

[2021-11-03 05:27] amirHossein-Ebrahimi commented on #562
Thank you @zenyr for your help, and thank you @SalaKrisztian for your feedback
could you test the latest version and give us feedback about the issue you've faced

could you please check the latest version from here and give us feedback?
[code]

[2021-11-03 05:28] amirHossein-Ebrahimi commented on #654
Thank you @gamestap99
Could you please test the latest version and give us feedback about the issue you've faced

[code]

[2021-11-03 05:29] amirHossein-Ebrahimi commented on #605
Thank you @sadeghi4j  for your report
Could you please test the latest version and give us feedback about the issue you've faced

[code]

[2021-11-03 05:29] #605 closed

[2021-11-03 05:29] amirHossein-Ebrahimi commented on #474
Thank you @Min5407 for your bug report
Could you please test the latest version and give us feedback about the issue you've faced

[code]

[2021-11-03 05:32] amirHossein-Ebrahimi commented on #510
Thank you @mikestecker for your bug report, I assume we might not have this bug anymore.
I'm going to close the issue feel free to re-open it and provide more information if it stills remains.

[2021-11-03 05:32] #510 closed

[2021-11-03 05:40] amirHossein-Ebrahimi commented on #428
Hi, @joelsiks did the mentioned answer solve the problem.

I know it is a react component it is better to get props for the track and embed the tracks to the source by ourselves.
Although it is absolutely possible, it is not the best match with the methodology we are following for integrations.
And It can also be done with a simple react wrapper component (react app is composed of components after

[2021-11-03 05:40] #428 closed

[2021-11-03 05:44] amirHossein-Ebrahimi commented on #656
Hi @gamestap99, I just mentioned that I wrongly suggest my post as an answer before getting your feedback, feel free to comment on that and submit that as an answer if it solves your problem.

[2021-11-03 05:46] amirHossein-Ebrahimi commented on #502
Thank you @kestvir for your report, I assume this bug is fixed now but feel free to re-open the issue if it is still a problem with your project.

And in case you want to test the latest realise, you can test the latest version and give us feedback about the issue you've faced

[code]

[2021-11-03 05:46] #502 closed

[2021-11-03 05:57] realamirhe opened #678 "Proposal for plyr-react component update"
By the latest version, we are using a fully integrated component using `react-aptor` as connector level connecting native video element to the plyr instance class. I was thinking about is there a way that we can get developers to access to being synced with the first render phase of our app.

Although there is a simple solution of getting `onFirstRender` and configuring that in the new hook,  that

[2021-11-04 07:51] gamestap99 commented on #654
well, i will reply you soon

[2021-11-04 07:54] gamestap99 commented on #656
sorry, i reply you late. The answer of you resolved problem for me. Thank you very much!

[2021-11-04 09:42] amirHossein-Ebrahimi commented on #656
That's totally fine, happy to hear that it solves your problem.
Feel free to [mark it](https://github.com/chintan9/plyr-react/discussions/658#discussioncomment-1485937) as an answer whenever you want.

[2021-11-10 20:34] bradrice opened #683 "SVG's not showing using React 17 from create-react-app"
**Describe the bug**
I managed to get plyr-react to work in React 17, but for some reason the svg icons are not showing in any browser. I am getting the volume and progress bars. The buttons for the others are there, but transparent. i am using node-sass for my own style, but I have imported the plyr css like this:

import "plyr-react/dist/plyr.css";

**To Reproduce**
I'm using this code https://c

[2021-11-11 02:04] amirHossein-Ebrahimi commented on #683
Hey @bradrice, there is a closed [related issue](https://github.com/sampotts/plyr/issues/927) in plyr.
It seems the problem is with local storage, not react or CRA. Actually, the codesandbox you mentioned itself uses react 17 and create react app.

**Solution** mentioned [here](https://github.com/sampotts/plyr/issues/927#issuecomment-395930523)

[2021-11-11 02:17] amirHossein-Ebrahimi commented on #678
hey @chintan9, hope everything is going well for you.

Are you going to publish the latest master version with a bug-fix patch, cause it is still an old version?

There is also a possible way to update the readme by adding the alpha version directly but it seems unprofessional and we didn't give feedback from users for a while (#654, #605, #562, #511, #502, #474#, #339)
[code]

[2021-11-11 14:39] bradrice commented on #683
Thanks for your help. If I look in LocalStorage using devtools I don't see a sprite. Shouldn't plyr be taking care of loading the sprite? Are you saying I have to make my own request to get the svg?

[2021-11-11 14:58] amirHossein-Ebrahimi commented on #683
If you don't block storage access to javascript and you can set your own data in local storage e.g. `window.localStorage('key', 'value')`, I guess you might need this extra fetch on your own.

But in a case, you need this request, your local-storage is something like this:

[code]
- you might need extra re-render for plyr to work
- you might need to fix content string (I'm not confident it will wo

[2021-11-11 16:36] bradrice commented on #683
Thanks. I did manage to copy the sprite over from the nodeModules and import it into iconUrl. I'll try your method as well and use the best. Thanks so much.

[2021-11-12 15:16] #683 closed

[2021-11-12 15:23] bradrice opened #684 "Build error with plyr.css"
**Describe the bug**
./node_modules/plyr-react/dist/plyr.css
ParserError: Syntax Error at line: 1, column 51

**To Reproduce**
Steps to reproduce the behavior:
npm run build

**Expected behavior**
A build without error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 Running WSL in Windows 10

[2021-11-12 16:35] amirHossein-Ebrahimi commented on #684
Hey @bradrice, Check out this issue [#628](https://github.com/chintan9/plyr-react/issues/628) ley me know if that fixed your error or not

[2021-11-12 19:10] bradrice commented on #684
Well, that got me close. I had to do extra steps. I followed the steps of unminifying the plyr.css and then I had to put it into sassmeister to compile it into css. Then I copied the css into the css validator and found errors. I fixed those. However, I couldn't put it in my project as a scss file, but I had to create a new plyr.css file and import it.

I'm wondering if you could include your css

[2021-11-12 19:10] #684 closed

[2021-11-12 19:14] bradrice opened #685 "Poster option not working"
**Describe the bug**
I can't seem to get my player to use a poster if I add it as an option to my  plyr-react options.

**To Reproduce**
Steps to reproduce the behavior:
1. import poster from "../../assets/images/TUposter.svg";
2. const videoOptions = {
    controls: ['rewind','play-large', 'play', 'fast-forward', 'progress', 'current-time', 'mute', 'volume', 'fullscreen', ],
    loadSprite: true,

[2021-11-12 19:53] amirHossein-Ebrahimi commented on #684
Actually, we are trying to make these two packages as decoupled as possible.
It might be needed to install `plyr` as `peerdependencies` in a future update, then it is going to be handled normally via package management and bundling process. but thanks for your feedback, and don't hesitate to post any issue (including your CSS issue) [here (#667)](https://github.com/chintan9/plyr-react/issues/667)

[2021-11-12 20:00] amirHossein-Ebrahimi commented on #685
Hey @bradrice, could you provide a code sandbox make it online available to test the issue?

[2021-11-12 20:36] bradrice commented on #685
Well, I seem to be having config issues with the SCSS in my sandbox.

https://codesandbox.io/s/falling-frost-2tnz2?file=/src/plyrcomponent.tsx

I'm not actually using Plyr sass, so I don't know why the error.

[2021-11-13 05:37] amirHossein-Ebrahimi commented on #685
@bradrice, your code-sandbox seems to be off-version (not containing the latest changes and file content).

If you think the issue comes from the SCSS world, Could you try to replicate the same action and style that `plyr` gives to the poster when the source is provided by `youtube` or `vimeo` in your style and configuration?

[2021-11-14 09:46] qinyiyao commented on #668
I ended up using React Suspense, which has no SSR support right now, but at least it works.

[Guide from Gatsby:](https://www.gatsbyjs.com/docs/using-client-side-only-packages/#workaround-4-use-reactlazy-and-suspense-on-client-side-only)

[code]

[2021-11-15 14:14] pooryak opened #687 "Settings in options won't work"
Hi
As you can see in below link, I added a quality option but it won't appear on the screen
https://codesandbox.io/s/plyr-js-example-with-react-forked-6luq2?file=/pages/index.js

[2021-11-15 18:13] amirHossein-Ebrahimi commented on #687
Hi @pooryak, It seems that Plyr itself have a request feature [#1741](https://github.com/sampotts/plyr/issues/1741) for HSL quality switch, it has been reported in other issues e.g. [#1919](https://github.com/sampotts/plyr/issues/1919)
and discussed in details in [this comment](https://github.com/sampotts/plyr/issues/652#issuecomment-445457542).
By the way it seems that it works in vanilla js appr

[2021-11-15 18:19] realamirhe opened #688 "HLS ready to use component"
I'm not that player expert but being it seems that HLS player is so popular among the community,

In this way we've some known mentioned [issues](https://github.com/chintan9/plyr-react/issues?q=is%3Aissue+hls) we will try to fix, but don't hesitate to add you add your need or special use cases.

up-vote this issue (comment) if you see it helpful for your project?

[2021-11-16 10:20] flyingwip commented on #685
Hi ,

I am having the same issue. The setup I use is quite default.

const videoSrc = {
            type: "video",
            sources: [
                {
                    src: "https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4",
                    poster: 'https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg'
                }
              ]

[2021-11-16 12:22] amirHossein-Ebrahimi commented on #685
Hey @flyingwip, I tested your code and it worked, It took quite a long to load by plyr added the `data-poster` to HTML tag and it worked.

the `sources` item doesn't get the poster, and the video source does.
[code]

Take a look at [complete codesandbox](https://codesandbox.io/s/plyr-react-new-api-forked-3rx3w?file=/src/App.tsx:145-479)

I guess it must be possible to pass the `poster` (or at leas

[2021-11-16 12:25] amirHossein-Ebrahimi commented on #667
Possibility to pass `plyr` default props Declaratively, same as react standards?
mentioned [here](https://github.com/chintan9/plyr-react/issues/685#issuecomment-970219208)

[2021-11-16 15:20] bradrice commented on #685
I finally got a basic codesandbox.io showing poster not working:

https://codesandbox.io/s/plyr-react-poster-2tnz2?file=/src/plyrcomponent.tsx:535-566

[2021-11-16 16:07] amirHossein-Ebrahimi commented on #685
Poster is part of source object not options object, search for " poster: '/path/to/poster.jpg'," in plyr [documentation](https://github.com/sampotts/plyr).
[code]

Unfortunately, typescript will complain about that, but it will be fixed on the following releases of `plyr-react`.

[2021-11-16 16:08] amirHossein-Ebrahimi commented on #685
Hey, @bradrice and @flyingwip I'm going to close this issue but feel free to re-open it if you faced any other issues.

[2021-11-16 16:08] #685 closed

[2021-11-16 16:16] flyingwip commented on #685
Tanx! Obvouslly I did not read well. I got it working. Again thank you

[2021-11-17 06:19] pooryak commented on #687
`import { useEffect, useRef } from 'react';

import 'plyr/dist/plyr.css';
import Hls from 'hls.js';
// import Plyr from "plyr-react";
import PlyrJS from 'plyr';

const MyComponent = (data) => {
  const innerRef = useRef(null);
  const hls = useRef(new Hls());
  const videoOptions = {
    ...(ad
      ? {
          ads: {
            enabled: true,
            publisherId: 'sd',
            tagUrl:

[2021-11-17 07:28] amirHossein-Ebrahimi commented on #687
Plyr has partnered up with [vi.ai](https://vi.ai/publisher-video-monetization/?aid=plyrio) to offer monetization options for your videos.
Here are two things that might be helpful
1. Add cross origin attribute to Plyr component (native video element)
2. Update your Arvan API channel to accept requests from origin 'http://imasdk.googleapis.com'

[2021-11-17 07:32] pooryak commented on #687
I changed my ads from arvan to a sample from google I faced the same error again.
firefox shows this one: Security Error: Content at http://localhost:3000/post/202111161/%D8%AA%D8%B3%D8%AA may not load data from blob:http://localhost:3000/297f0ec5-faf5-46fc-87e7-6f028e1a6f94.
by the way, it shows this error on desktop too but it works on it anyway

[2021-11-17 09:17] amirHossein-Ebrahimi commented on #687
Could you test your ads player with [vi.ai](https://www.vi.ai/publisher-contextual-video/?aid=plyrio)?
Did you test the code in other browsers e.g. chrome?

[2021-11-17 09:22] pooryak commented on #687
yes
Yes, I did, both in chrome and firefox

[2021-11-17 09:53] amirHossein-Ebrahimi commented on #687
did it face the same issue with vi.ai?
Make sure you don't have an ad blocker, you can also check out the [following](https://support.mozilla.org/en-US/questions/1279624)
. it may help

[2021-11-17 18:23] matthewlein opened #689 "3.2.0 causing videos to disappear"
**Describe the bug**
After updating from 3.1.0 to 3.2.0, some pages show a flicker of video then disappears completely, showing blank. No controls, nothing rendered at all.

the rendered html looks like the plyr was not instantiated at all:

[code]

No errors logged, no warnings

Downgrading to 3.1.0 fixes completely.

**To Reproduce**
I have not figured out why this happens only on some pages. Th

[2021-11-17 20:02] amirHossein-Ebrahimi commented on #689
Hi @matthewlein , could you test the latest unofficial version and see what happens, there is an internal issue with plyr not respecting the latest updated dom. it is fixed in the following version
[code]

[2021-11-17 20:21] matthewlein commented on #689
Installing that version seems to work fine at first look.

[2021-11-18 05:49] amirHossein-Ebrahimi commented on #689
could we please, publish the latest master version @chintan9. It seems to work fine every where 😍

[2021-11-19 02:38] chintan9 commented on #689
I will do that tomorrow

[2021-11-19 09:29] amirHossein-Ebrahimi opened #690 "New logo for the main page"
What do you think about the new logo?
Feel free to post your criticisms...
![plyr-react-logo](https://user-images.githubusercontent.com/23579958/142599249-0c2d350c-92dc-409c-8585-742a9467d36b.png)

[2021-11-19 16:34] bradrice opened #691 "Changing source"
**Describe the bug**
I'm trying to programmatically change the source in plyr. From looking at plyr documentation they have a source setter, but it doesn't seem to be working.

**To Reproduce**
Steps to reproduce the behavior:
1.add code to set the source
2. source should be updated

**Expected behavior**
Source should be settable.
I forked the stackblitz example and added a changeSource function

[2021-11-19 19:59] chintan9 commented on #690
Which font we are using ?
Can we use Inter fonts ?

https://rsms.me/inter/

[2021-11-19 20:02] chintan9 commented on #689
@matthewlein & @matthewlein  v3.2.1 published.

Please test now.

[2021-11-20 06:12] amirHossein-Ebrahimi commented on #690
I used Plyr font ([Gordita](https://www.cufonfonts.com/font/gordita))
Sure I will check that out

[2021-11-20 06:12] amirHossein-Ebrahimi commented on #691
Can you test the latest version to see whether it works or not?
[code]

[2021-11-20 19:01] amirHossein-Ebrahimi commented on #690
![plyr-react-logo--inter](https://user-images.githubusercontent.com/23579958/142738113-9ec53552-6770-4634-be6f-cf4b86aae410.png)

[2021-11-22 14:07] bradrice commented on #691
OK, I updated to the latest and it still isn't updating source using my function. It seems it will only take the initial source the player was set up with.

[2021-11-22 15:56] amirHossein-Ebrahimi commented on #691
Hey @bradrice , The easiest way to achieve this is to upgrade to the latest version `>= 3.2.1` and change the source prop of the `Plyr` component.  Check [this](https://stackblitz.com/edit/react-iwhpki?file=src%2FApp.js) out.

**More info:**
The plyr doesn't provide changeSource function and changing internal source in ref doesn't re-render.
even if you force the react component to re-render it wo

[2021-11-22 16:05] bradrice commented on #691
For real? Why does the plyr documentation provide a source setter?

On Mon, Nov 22, 2021 at 10:56 AM Amir.H Ebrahimi ***@***.***>
wrote:

--
Brad Rice
***@***.***

[2021-11-22 17:53] amirHossein-Ebrahimi commented on #691
As double-checking the doc, it seems that changing the source itself acts as the changing function.

The problem with your code was that you were changing the player reference itself which was bound to the video element, you can see the log from `console.log(player.current)` in the dev tools.

`plyr-react` expose hole plyr class and you can access it via `.plyr`, so changing your code to the follo

[2021-11-22 18:46] bradrice commented on #691
Well, awesome. I didn't know this. Are you going to update the documentation at some point to make some of this stuff more evident? Thank you so much.

[2021-11-22 19:02] amirHossein-Ebrahimi commented on #691
Gratitude, @bradrice, any help is appreciated.

We plan to update the whole API, but we have waited to decide about the [latest proposal](https://github.com/chintan9/plyr-react/issues/678)

[2021-11-22 19:02] #691 closed

[2021-11-23 20:11] Shohzodt commented on #687
Hey, i used all from codesandbox but It is not rendering qualities(

[2021-11-23 21:13] bradrice opened #698 "Codesandbox.io example not working in Chrome"
**Describe the bug**
The codesandbox.io for typescript example isn't working in Chrome with 3.2.1

**To Reproduce**
Steps to reproduce the behavior:
1. Open this link in Chrome: https://codesandbox.io/s/plyr-react-new-api-forked-cg08k?file=/src/App.tsx
2. Click play

**Expected behavior**
When clicking play, the video should play, but it is not.

**Desktop (please complete the following informatio

[2021-11-28 09:18] #690 closed

[2021-12-03 16:46] chintan9 commented on #698
there seems issue with chrome I guess. it always works for me in new tab
https://cg08k.csb.app/

[2021-12-05 12:13] Alken123 commented on #667
Will you consider to be able to pass custom props for controls

[2021-12-05 14:33] amirHossein-Ebrahimi commented on #667
Hi @Alken123, Could you provide and example?
You can now pass both controls of `Plyr` initialization and direct props for `HTMLVideoElement`.

[2021-12-06 11:11] Alken123 commented on #667
@amirHossein-Ebrahimi Some thing like this controls: [ 'play-large', 'rewind', 'play', 'fast-forward', 'progress', 'current-time', 'duration', 'mute', 'volume', 'captions', 'settings', 'airplay', 'fullscreen', ]

[2021-12-06 12:50] amirHossein-Ebrahimi commented on #667
Thank you @Alken123, sure we will consider being more declarative in props for the main next version!

[2021-12-06 14:09] Alken123 commented on #667
Yeah sure we'll wait

[2021-12-06 17:04] amirHossein-Ebrahimi commented on #667
Hey @Alken123
Just for sake of clarity, you want all tiny integration API to be mostly `flat`, `declarative`, and being at `Plyr convention`.

instead of configuring control in options (`options.control`) pass `control` props to pass and change it by yourself.

[2021-12-07 14:33] c-mella opened #711 "Custom UI"
Hi,

I'm trying to build a custom UI around the audio player but finding that whenever i set a value using the useState hook it resets my player. Can you take a look and let me know if there's an easier way to do this? Either way I'd love if in a future version there was a way to just sub in the buttons, the same way we can set the positions and controls we want to see.

Thanks!

CODE BELOW

=====

[2021-12-08 11:57] deepa-wisetr opened #712 "options not working with youtube video"
**Describe the bug**
volumne and mute options not working for youtube and viemo

**To Reproduce**
https://codesandbox.io/s/plyr-react-new-api-forked-uczso?file=/src/App.tsx

**Expected behavior**
[Normal video.](https://codesandbox.io/s/plyr-react-poster-2tnz2?file=/src/plyrcomponent.tsx:535-566)

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-im

[2021-12-08 19:33] amirHossein-Ebrahimi commented on #712
Hey @deepa-wisetr

It seems for better user experience plyr saves all options presets in your localStorage
And it will sure work for first user view

but if you want to set the muted and volume every time you can do it yourself.

[code]

if you think adding something like `resetPlyrStorageOnMount` will be helpful please add it to [here](https://github.com/chintan9/plyr-react/issues/667) so people

[2021-12-08 19:34] amirHossein-Ebrahimi commented on #712
Also, upvote for [this issue](https://github.com/sampotts/plyr/issues/532),  and feel free to close the issue if it solves the problem

[2021-12-09 15:04] Alken123 commented on #667
Yeah i figured that out and was able to achieve it but do you know of any method that would help me with adding a string along with numerical value in the quality options like 1080p [English] or something of this sort.

[2021-12-14 17:30] MasterProvider opened #715 "Missing fullscreen control in YOUTUBE provider"
**Describe the bug**
The fullscreen button is missing in YouTube source as a provider

[code]

**Expected behavior**
Also, YouTube has a small screen behavior instead of fitting it as a default screen of youtube

**Screenshots**
![Screenshot (718)](https://user-images.githubusercontent.com/48547307/146048747-74055013-ce26-4a96-aaf4-da4cd9b0f817.png)

**Desktop (please complete the following inform

[2021-12-14 19:15] hashweather opened #716 "Setting Width and Height of Player"
I wish to set the width and height of the window. The reason been I am loading the page into an iframe so I want the video to fit the dimensions of the iframe. How can I achieve that with Plyr.

Below is my code:
[code]

When I load the page with an iframe the video is not displaying with the dimensions of the iframe. The video is always stucked at the top.

How can I prevent that. I want the vide

[2021-12-15 02:26] amirHossein-Ebrahimi commented on #715
Hey @MasterProvider, could you fill in information about the device you are testing on.
Could you check functionality on [main example](https://codesandbox.io/s/plyr-react-new-api-forked-cg08k?file=/src/App.tsx)?

[2021-12-15 02:28] amirHossein-Ebrahimi commented on #716
Hey @hashweather, Cause your problem seems to be more related to UI, could you please provide a [codesandbox](https://codesandbox.io/) representation of your issue?

[2021-12-15 07:58] MasterProvider commented on #715
Thank you @amirHossein-Ebrahimi now I got it, I changed the source type as a video instead of youtube

[2021-12-15 08:02] MasterProvider commented on #715
now it works like a charm

<Plyr
      options={{
        quality: {
          default: 576,
          options: [4320, 2880, 2160, 1440, 1080, 720, 576, 480, 360, 240]
        },
        controls:['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'captions', 'settings', 'pip', 'airplay', 'fullscreen'],
        settings: ["captions", "quality", "speed", "loop"]
      }}
      sour

[2021-12-15 08:03] #715 closed

[2021-12-15 10:20] hashweather commented on #716
Hello @amirHossein-Ebrahimi  Thanks for responding. But before the Codesandbox I just want to confirm, how can I set with and height of the Player? Is this way correct?

              <Plyr
                    source={videoSrc}
                    options={{
                        hideControls: true,
                        ratio: '16:8'
                    }}
                    width={200}  //S

[2021-12-15 17:58] bradrice opened #717 "play() does not work from outside the player"
**Describe the bug**
play() does not work

**To Reproduce**
Steps to reproduce the behavior:
1. get a ref
2. call ref.current.plyr.play()

**Expected behavior**
The audio should begin

[2021-12-16 03:35] amirHossein-Ebrahimi commented on #716
Hi @hashweather, all props you pass will directly pass to the inner video element, but plyr will re-organize the dom in its initialization, I'm afraid that it can be handled via props.

you can set the it inside CSS for all instance like
[code]

or wrap the `<Plyr />` instance inside a wrapper e.g. div  and set your limits over there

[code]

[2021-12-16 03:36] amirHossein-Ebrahimi commented on #716
feel free to ask for clearing any ambiguity or closing the issue if the answer solved that 🤗

[2021-12-16 03:38] amirHossein-Ebrahimi commented on #717
Hi @bradrice, where are you calling the `ref.current.plyr.play`, is it by user interaction on click event or something?

[2021-12-16 16:22] bradrice commented on #717
![image](https://user-images.githubusercontent.com/272352/146409188-5567d280-99f1-4797-a22e-31285e29f960.png)

I'm trying to call it in a useEffect. I need it to start playing when I go from one page to another. I have an eventBus to send the play call when the next template loads

[2021-12-17 06:09] amirHossein-Ebrahimi commented on #717
Thank you for reporting, it seems that we have a bug,
For now, we can discuss some possible hacks to fix the issue till our next version release which is more like #678 is ready.

The problem is that all state changes are pushed to `<Plyr />` and we couldn't find a way to notify parent `useEffect` by Plyr (child) `useEffect`, feel free to see and comment on #678 so we can come up with a better sol

[2021-12-17 15:09] bradrice commented on #717
The problem with autoplay is that in my app, the user can set whether they want the app to play or not. I set a variable in redux state to know if they would like to autoplay. Also, I have a page that has a carousel and I need to advance a slide and start play from outside the Plyr element.

[2021-12-30 06:39] erubescent opened #722 "Player stops with Next.js Router page change"
Hello,

I'm building a website that features one player at the bottom of the page (kind of like SoundCloud and MixCloud) that will allow the user to select through songs on different pages and will play the track. I've always used Plyr since it's ease of use and customization.

I've set up one main component with Plyr that has one track for testing purposes. Code below:

[code]

And then I import

[2021-12-30 21:34] amirHossein-Ebrahimi commented on #722
Hi @erubescent, thank you for sharing that.
I'm afraid I didn't quite understand your need but here are some tips that may be helpful.

Player re-initialize its player via `options` or  `source` change. memorizing them can be helpful.

If you need more dynamism in your component, `useMemo` or `memo` can save the part of UI for you to make them immune from the rest of the updates.

[code]
Check out

[2022-01-01 02:13] erubescent commented on #722
Hi @amirHossein-Ebrahimi, thanks for responding!

When using the code in my project, I get the desired functionality in having the content play across every page without interrupting playback on page changes. I'm fairly new to how React has changed so this is really helpful, thank you. I've also tested this without using 'useMemo()' and the video initializes again every time I change the page, so

[2022-01-01 09:07] amirHossein-Ebrahimi commented on #722
Happy to hear it solves your issue,
for the audio type, there are two things you must do.
1. add [mime type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) , In your case it is `"audio/wav"`
2. remove the undesired provider flag.

[code]
Here is a complete [codesnadbox](https://codesandbox.io/s/plyr-audio-usememo-test-forked-rqs1w?file=/src/Plyr.tsx:579-5

[2022-01-01 22:50] erubescent commented on #722
Hi! Thank you so much, @amirHossein-Ebrahimi,
it works! 🎉 💃 Also, I love that song. It's very pretty.

Happy new year to you as well!! Cheers 🍻

I thought I was missing something simple. I appreciate all of your help. 😇

~ I read somewhere in one of the issues: is the documentation going to eventually be updated for plyr-react? I've been following the Plyr documentation and its very helpful, but o

[2022-01-02 10:47] amirHossein-Ebrahimi commented on #722
That is good to hear, and we had planned to complete the doc, but we didn't get the time for updating the current doc so much.
Anyway as I mentioned the road map for new API usage has been started, and it will be backward compatibly with extra features, and we try our best to make it crystal clear. And as always any help is appreciated.

IMO the best way to use the plyr-react is conditional, in a

[2022-01-04 10:44] christophstockinger commented on #668
I running in the same issue with a custom SSR setup. Now I use React.lazy for the component and it works fine! This should be a good workaround!

[2022-01-09 19:41] DELEPaps commented on #717
I don't understand where the problem is coming from, just wanted to share how I solved it while waiting for the update.
[code]

Hope it is useful.

[2022-01-11 18:27] bradrice commented on #717
[code]

I'm trying with your suggested workarounds and can't seem to get any methods from playerRef.current as I am getting an error:

[code]

[2022-01-12 06:05] amirHossein-Ebrahimi commented on #717
Hey @bradrice
I'm sorry about the bugs you are facing day to day, because of lack of documentation.

I'm going to describe the way that plyr-react works with the ref to you maybe that helps.

The plyr-react for now just (only) pass the reference to the lastest `plyr` instance, although we can make it further and pass the reference to the video element itself (with 80% confidence), but it is not ad

[2022-01-12 19:15] amirHossein-Ebrahimi commented on #717
hey @bradrice

The first part `player?.current` which can safely be used as `player.current` is a normal ref mechanism.
`player.current` is initially `null` created on your side (you can definitely change that to your desired initial value e.g. `{plyr: console.log}`

`plyr` is a variable (instance of Plyr class) we add intentionally,
after the first render (in `useEffect` or  `useLayoutEffect`) yo

[2022-01-12 19:28] bradrice commented on #717
Thanks. Are your available times actually in the wee early hours? 12:30am
to 10 am on the slots

On Wed, Jan 12, 2022 at 2:16 PM Amir.H Ebrahimi ***@***.***>
wrote:

--
Brad Rice
***@***.***

[2022-01-12 21:15] bradrice commented on #717
I'm trying to detect end of play. I can't seem to figure out how to add and event listener or use one provided by Plyr.

[code]
I get errors

[2022-01-13 06:54] amirHossein-Ebrahimi commented on #717
I know it may sound like a super hacky way to solve it, and of course, it is not clean. And surely we will work on that on future to solve it :)

[code]
The solution is postponing the attachment of the listener until the ref truly get the plyr instance.
**NOTE**: You need to change the event to 'ended'

[2022-01-13 15:07] bradrice commented on #717
That helped. I'm getting this typescript error when I try to move my plyr source into a variable:

[code]

Instead of setting source inline I moved it into a variable like this:

[code]
When I add my Plyr like this:

[code]

[2022-01-13 16:32] amirHossein-Ebrahimi commented on #717
Maybe your typescript is too strict, I copy your source to source props and it works.
for better typing, you can take help from the actual type.
[code]

[2022-01-13 16:35] bradrice commented on #717
But isn’t it getting SourceInfo and MediaType from the plyr types?

On Thu, Jan 13, 2022 at 11:32 AM Amir.H Ebrahimi ***@***.***>
wrote:

--
Brad Rice
***@***.***

[2022-01-13 17:13] amirHossein-Ebrahimi commented on #717
I didn't get you well, @bradrice,

I'm just saying `string` is big to be assigned to `'audio' | 'video'`

[2022-01-13 18:44] bradrice commented on #717
OK, I'll try to overwrite the typeof coming from Plyr.

Is there a way for me to test for if the ref is a proxy or actual?

[2022-01-13 19:01] amirHossein-Ebrahimi commented on #717
In proxy, the `(ref.current?.plyr.source === null)` is true, but after initialization, it will be the source you have passed to it.

[2022-01-13 19:51] bradrice commented on #717
Thanks, I seem to be getting somewhere:

[code]

[2022-01-13 19:51] #717 closed

[2022-01-17 16:58] amirHossein-Ebrahimi commented on #678
Hello everybody

I had a session with @bradrice And did some experiments on the proposed method
Here ([dev/example][dev]) I add a new method called `usePlyr` and a custom audio-player example that can easily bind the`.on`  method and so on...

### Wait for your feedbacks 😊

[dev]: https://github.com/chintan9/plyr-react/tree/dev/example

[2022-01-18 14:22] bradrice opened #727 "Using the getAPI call"
Is this the proper location for adding an eventlistener?

[code]
I'm getting errors:

[code]

[2022-01-18 15:38] bradrice commented on #727
I'm finding use of the raptorRef in useEffect is working for adding eventlisteners.

[code]

[2022-01-18 18:39] amirHossein-Ebrahimi commented on #727
Good to hear that, I will do the package part in a few days.
So you can install the alpha version from the git (with less code and a faster-installing process)

I'm going to close the issue, in case you found any other issue, reopen this issue, or simply create a new one. or you can ask in [the discussion section
](https://github.com/chintan9/plyr-react/discussions)

[2022-01-18 18:39] #727 closed

[2022-01-21 14:51] bradrice opened #729 "CustomPlyrInstance props"
Using the new CustomPlyrInstance example works great.

How can I use it with props for source and options? I see you set source at the top of the file outside of the component. If I used this code in my Tooling U player, could I wrap it in a component that accepts props from the outside?

[2022-01-21 17:31] amirHossein-Ebrahimi commented on #729
Hey @bradrice, happy to hear it works as expected.
Yeah, It is totally okay to pass the props as normal (in term of dynamism).

But remember passing the new `options` or  `source` will component to do all react life cycle again and re-instantiate the `plyr` which is 99% the things you actually wants. but in a case you face some problem keep in mind the mentioned things can be solve with memoizatio

[2022-01-21 17:44] bradrice commented on #729
If I want to use it as is, what do I need to install in my project. I already have the current plyr-react installed. Do I need to add anything?

[2022-01-21 20:23] amirHossein-Ebrahimi commented on #729
[code]
It should update your `package.json` to something like this
[code]

[2022-01-21 20:29] amirHossein-Ebrahimi commented on #729
@chintan9 could you please make a mechanism and standardization for the alpha release system, you mentioned in [this comment](https://github.com/chintan9/plyr-react/issues/649#issuecomment-941269656). I guess we have so many unused branches and if we don't organize them it will soon chaos.

The are two branches that I maid for beta testing purposes one is `#package` which is now merged in master a

[2022-01-23 23:07] chintan9 commented on #729
I will do that by end of week.

[2022-01-24 08:19] amirHossein-Ebrahimi commented on #729
Thanks, @chintan9.

I'm not sure I get the whole idea well, but in a case, I get that right, you mean getting a branch from the latest `#developer` branch means we are going to release an alpha version of `plyr-react`. Is this correct?

In the case of releasing just consider we are going to use GitHub as a semi npm registry so it will download all project files from the HEAD of the branch, we are

[2022-01-24 13:53] bradrice commented on #729
I did install from git
yarn add git://github.com/chintan9/plyr-react.git#release
 and I'm getting:

Can't resolve 'plyr-react/dist/plyr.css'

[2022-01-24 15:43] bradrice commented on #729
How do I change the source?

I can't figure out where in the code to change the source to override the defaultProps. I have the current audio src in Redux store, but can't seem to override it in the new code.

Plyr.defaultProps = {
  options: {
    controls: [
      "rewind",
      "play",
      "fast-forward",
      "progress",
      "current-time",
      "duration",
      "mute",
      "volume",

[2022-01-24 22:47] bradrice commented on #729
For some reaon my getApi is getting called twice, so adding eventListeners in there is adding two of each listeners.

[code]
Is this the proper place to add event listeners?

Also, this does not work:

[code]
It appears I need the element to add the event listener that way and I couldn't figure out how to get the element inside getApi

[2022-01-25 09:28] amirHossein-Ebrahimi commented on #729
I courage you to add event listener by yourself in the custom component which you are making.
You can clear effect in useEffect cleanup.

For example, for the effect, we have in [examples directory](https://github.com/chintan9/plyr-react/blob/ef73315f7fb414db39f1fe5ebba88561b14da24a/example/src/custom-audio-player.tsx#L24-L41)

it is going to be something like this

[code]

Could you please give u

[2022-01-25 14:25] bradrice commented on #729
Thanks for the example. For some reason it throws errors when I try that method.

It is thrown at this line:

`const { current } = ref as React.MutableRefObject<APITypes>;`

[code]

[2022-01-25 14:41] protatix opened #730 "Plyr preload none is not working"
I would like to add preload attribute on Plyr, I was struggling because changes do not affect on DOM. I am not sure if I am missing something or there is a bug. For example;

`<Plyr
          preload="none"
          options={{
            seekTime: 5,
            ratio: '16:9',
            fullscreen: {
              enabled: true,
              fallback: true,
              iosNative: true,

[2022-01-25 16:49] amirHossein-Ebrahimi commented on #730
Hi @protatix, Could you send me an example of preventing preloading source in plyr (javascript version)

I couldn't find one.
But for preventing preload, you must `plyr.media.preload = 'none'` before initialization, as this [commit](https://github.com/sampotts/plyr/pull/1051/files#diff-c17b74aa4f425b7037de289c702db0c212c8c479a5e1b1529ee10c87d82e8881R65) suggest

[2022-01-25 17:45] bradrice commented on #729
I've basically copied your example code and found it works great, but I still cannot figure out how to pass props to the PlyrComponent instead of reading source at the top of the file.

[2022-01-25 18:00] bradrice commented on #729
Never mind. I figured it out by adding props to the PlyrComponent. That works, unless you tell me I should be doing it another way.

[code]

[2022-01-25 18:23] amirHossein-Ebrahimi commented on #729
LGTM 👍🏻 ,
I'm going to close this issue, feel free to post us about example improvements, or your barriers.
It will hopefully be soon merged and published as a new version

[2022-01-25 18:23] #729 closed

[2022-01-25 18:31] amirHossein-Ebrahimi commented on #474
‍‍‍the proposal is now ready
[code]

feel free to reopen issue in a case it is still the case

[2022-01-25 18:31] #474 closed

[2022-01-25 18:33] amirHossein-Ebrahimi commented on #511
‍‍‍the proposal is now ready
[code]

feel free to reopen the issue in case it is still the case

[2022-01-25 18:33] #511 closed

[2022-01-25 18:33] #562 closed

[2022-01-25 18:34] #649 closed

[2022-01-25 18:34] amirHossein-Ebrahimi commented on #667
‍‍‍the proposal is now ready
[code]

Feel free to reopen the issue in case it is still the case

[2022-01-25 18:34] #667 closed

[2022-01-25 18:41] amirHossein-Ebrahimi commented on #687
Could anyone solve this problem,
We published a proposed version that helps you to be as low level as the child component, it helps create more custom components easily with `usePlyr` hook.
feel free to add your custom component to our [example directory
](https://github.com/chintan9/plyr-react/tree/dev/example)

[2022-01-25 18:45] amirHossein-Ebrahimi commented on #668
Sorry for the delay, but we now pre-lease a new hook for our proposal method that helps you to be as low level as the child component (Plyr video), it helps create more custom components easily with `usePlyr` hook.

Feel free to add your custom component for SSR to our [example directory](https://github.com/chintan9/plyr-react/tree/dev/example) and help other users with your solutions. 🤗
@qinyiyao

[2022-01-25 18:45] #668 closed

[2022-01-25 18:47] amirHossein-Ebrahimi commented on #711
Sorry for the delay, but we now pre-lease a new hook for our proposal method that helps you to be as low level as the child component (Plyr video), it helps create more custom components easily with `usePlyr` hook.

Feel free to checkout [example directory](https://github.com/chintan9/plyr-react/tree/dev/example).

[2022-01-25 18:47] #711 closed

[2022-01-25 18:48] amirHossein-Ebrahimi commented on #698
I'm going to close this issue, feel free to add your solution in case you solved it

[2022-01-25 18:48] #698 closed

[2022-01-25 18:50] #689 closed

[2022-01-25 18:50] #712 closed

[2022-01-25 18:51] #716 closed

[2022-01-25 18:54] #722 closed

[2022-01-25 18:56] amirHossein-Ebrahimi commented on #678
Custom Components need to be added
- [ ] setting width and height [issuecomment](https://github.com/chintan9/plyr-react/issues/716#issuecomment-995409563)
- [ ] HLS ready component video player #688
- [ ] SSR ready to use component #668

[2022-01-25 22:05] protatix commented on #730
@amirHossein-Ebrahimi hi, I created codesandbox demo for you; https://codesandbox.io/s/preload-plyr-vt8n4
As you can see, Plyr has preload attribute but if you look specific DOM element there isn't an attribute that name is preload.

[2022-01-25 22:09] bradrice opened #732 "add eventlisterner in useEffect in CustomPlyrInstance not working with empty dependency array"
If I leave off the dependency array, the eventlisteners get attached, but mulitple times due to rerenders of the AudioPlayer component I have created. I would like to prevent adding additional event listeners.

Here is my code in the useEffect

[code]
Why can't I pass an empty array to minimize the calls to add the event listeners?

[2022-01-25 23:04] chintan9 commented on #729
yes

Okay

[2022-01-26 04:45] amirHossein-Ebrahimi commented on #730
Every prop expects `source` and `options` are going to be passed directly to underlining the `video` element.

 But the problem is that we don't rely on dom element for initialization and we use plyr API. the only config it gets from the video element is optional ["data-plyr-config'"](https://github.com/sampotts/plyr/blob/master/src/js/plyr.js#L74).

 I meant that do you have any code which did th

[2022-01-26 04:47] amirHossein-Ebrahimi commented on #729
Nice work @chintan9 👍🏻

[2022-01-26 04:55] amirHossein-Ebrahimi commented on #732
That's because in that cause you don't have access to the latest `ref`.

You can optimize your workflow by one of the following

1. passing the ref related dependencies array

[code]

2. Set inner state triggering that plyr has been set with some value or not

[code]

**Note**: These might not work on the first try and these are the idea to show how it might be possible.
In case you make a code sa

[2022-02-03 18:09] bradrice commented on #732
Thanks for the suggestions. I've tried nearly everything and can't seem to get the plyr instance to play with event handlers. I think this is a weakness of  plyr-react. In plain vanilla javascript the ability to call plyr.play() or other methods is so easy. Even the Angular version of plyr I managed to use on a project and it was pretty easy.

[2022-02-04 07:11] amirHossein-Ebrahimi commented on #732
Thanks for your feedback, @bradrice. The only reason a code improves is through the feedback we get from day-to-day usage.
This is why we maid alpha release and add people to use it.

When you do it on js, you have control over the plyr instance you've created yourself, so it makes it easy to interact with.
In react world, it is somehow different cause it won't trigger updates in every scenario.
A

[2022-02-06 10:31] prince272 opened #736 "Plyr removes the inline style overflow: hidden; of a body tag when mounted inside a Modal."
**Describe the bug**
Plyr removes the style attribute when mounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Set an inline style in the body tag.
2. Mount Plyr component.
3. Check, I'd notice that Plyr did remove the inline body style.

**Expected behavior**
Plyr can modify but not to remove the inline style.

[2022-02-06 11:36] amirHossein-Ebrahimi commented on #736
Hi @prince272, we never touch the inline style of the body in `react-plyr`, I believe It is the plyr issue.
As you've already asked that there https://github.com/sampotts/plyr/issues/2417.

[2022-02-07 16:38] bradrice opened #739 "Adding Source to Plyr instance"
When trying to add source to my plyr instance I am getting an error:

[code]
The typescript error is:
[code]
I"m confused about what I am supposed to provide. Is it type or provider?

[2022-02-07 18:12] amirHossein-Ebrahimi commented on #739
Hi @bradrice, This is the Source type from `Plyr`. It says that the provider is either `Provider` or undefined. The type `string` is not assignable to `Provider` which is `'html5' | 'youtube' | 'vimeo'`, you should use it as const to make it explicit.

[code]
Here is a change which I belive will fix your issue.
[code]

[2022-02-07 18:15] bradrice commented on #739
Thank you.

[2022-02-07 18:15] #739 closed

[2022-02-09 15:05] bradrice opened #740 "Sandbox with new api"
I am not having the issue I showed you in the sandbox. Apparently, the issue with the fullscreen needing a wrapper is a problem in my own code. Here is a sandbox with the new api using usePlyr

https://codesandbox.io/s/plyr-react-new-api-forked-4cyfr?file=/src/App.tsx

For some reason the code hint is saying usePlyr is not exported, but it is working fine.

[2022-02-09 16:42] amirHossein-Ebrahimi commented on #740
Hi @bradrice
This is the working [codesandbox](https://codesandbox.io/s/plyr-react-new-api-forked-r0xo3?file=/src/App.tsx) if you want to test it further.

I will also search in the source code of `plyr`, seeking the necessitate of the wrapper element in the fullscreen mechanism. see more [in here](https://github.com/sampotts/plyr/blob/c2bfe489eab2c6f39335f0ede5a942bdefec11c9/src/js/controls.js#L6

[2022-02-11 18:52] c-mella commented on #711
@amirHossein-Ebrahimi  Sorry to bother you again but when will this be officially released? In the meantime I can just use the pre-lease you sent me but I just wanted to see if you have a timeline

[2022-02-12 02:59] amirHossein-Ebrahimi commented on #711
Hello, @c-mella. It is now available in npm with the alpha tag [plyr-react@4.0.0-alpha] .1] (https://www.npmjs.com/package/plyr-react/v/4.0.0-alpha.1)

The `usePlyr` method is now functioning as intended, but we need further feedback to ensure that this API is adequate and will not require new breaking changes (we're all weary of breaking changes).

However, I believe you should consider the new v

[2022-02-12 03:09] c-mella commented on #711
@amirHossein-Ebrahimi Thanks again for all your help, this library is awesome

[2022-02-25 05:15] ShivamJoker commented on #688
Any updates on this?
It it implemented?

[2022-02-25 15:39] amirHossein-Ebrahimi commented on #688
Hi @ShivamJoker,
The concern is that HLS integration need some extra attention about the package selection,
It also needs a basic understanding of [HTTP Live Streaming](https://en.wikipedia.org/wiki/HTTP_Live_Streaming).

We are thinking about the ecosystem of integratabtle/composable player, But I think we got over thinking about the mechanism which prevent us from further progress.
Soon I will t

[2022-02-27 11:51] Qiming-Liu commented on #562
https://github.com/chintan9/plyr-react/issues/562#issuecomment-906618738

I had this problem today, wrapping a `div` to the component solved it.

[2022-03-08 09:37] kg-kartik opened #747 "Using event listener method plyr.on gives undefined method error."
[code]

Here, it gives error that plyr.on is not a function.
The ref.current property is being logged and is referring to the correct object but plyr is not available.

[2022-03-08 17:38] amirHossein-Ebrahimi commented on #747
Hi @kg-kartik
Old Component is more designed for the static view, in case of dynamism could you please try our `usePlyr` hook in [4.0.0-alpha.1](https://www.npmjs.com/package/plyr-react/v/4.0.0-alpha.1).
Here is an example for a custom player which add event listener for `'ended'` event. [code](https://github.com/chintan9/plyr-react/blob/dev/example/src/custom-audio-player.tsx#L18-L50)

[2022-03-23 14:14] amirHossein-Ebrahimi commented on #688
Dear everyone, (@ShivamJoker, @vhfmag, @sessgreem, @marcelfahle and @chintan9)

I got some time to work on HLS video player, I put some efforts to make it more reusable, more handy and specifically more reliable.

- Get rid of old node-sass package and use the newly maintained dart-sass package

- Implement a ready to use quality changer `useHls` hook

- Remove extra over head for the old prop-typ

[2022-03-23 23:08] Kerotobil commented on #688
Which version should we install to use it?
I install "plyr-react": "^4.0.0-alpha.1" with yarn but video don't get

[2022-03-24 08:47] amirHossein-Ebrahimi commented on #688
Hey @Kerotobil, it is not published in npm yet
You can use github as an npm registry till we get it published.

[code]

More info on installation process, [stackoverflow](https://stackoverflow.com/a/50734317/10321531)

[2022-03-24 11:11] Kerotobil commented on #688
[code]

Yes i installed with yarn add "https://github.com/chintan9/plyr-react.git#release" , but video don't getting.
I want playing hls file and get quality options in player. Where am i doing wrong?

[2022-03-24 17:49] Kerotobil commented on #688
Yes, actually I tried every form, but I always get a different error.

TypeError: hls_js__WEBPACK_IMPORTED_MODULE_3___default(...) is not a constructor.

![Screen Shot 2022-03-24 at 20 48 31](https://user-images.githubusercontent.com/84286874/159978667-d7f05dd4-b780-41bb-829c-36516cbe2322.png)

[2022-03-24 19:30] amirHossein-Ebrahimi commented on #688
Which version of `hls.js` do you have in your package.json? @Kerotobil

[2022-03-24 19:35] Kerotobil commented on #688
[code]

[2022-03-24 19:50] amirHossein-Ebrahimi commented on #688
I made a codesandbox, but cause I need the latest version of plyr-react and codesandbox tried to load it from other registry, you will see duplication for the plyr-react itself.

https://codesandbox.io/s/wild-field-tp14zg?file=/src/plyr-react.tsx:140-144

[2022-03-25 18:25] Kerotobil commented on #688
Yes, looks fine. But my webpack error persists, I'm trying to solve it. It may be due to a different plugin in the project. I'll post again when I'm done. Thanks

[2022-03-25 18:48] amirHossein-Ebrahimi commented on #688
Looking forward to hearing from you.
We changed one of our dependencies, make sure you can find the `react-aptor` in your `node_modules` directory.

[2022-04-04 19:02] bradrice commented on #740
Everything seems to be working for me with usePlyr function now.

Unless others are reporting issues, it is probably time to move this out of alpha.

[2022-04-05 05:58] amirHossein-Ebrahimi commented on #740
Hi @bradrice, I agree but there has been some type issue which is now fixed in the latest dev branch.

@chintan9 could we do one of these
- make the 4.0.0.alpha-1 a new released (non alpha/beta/rc version)

- update the dev and release the new beta version of the it, but keep the eye on dead line for releasing main version

[2022-04-06 21:43] chintan9 commented on #740
@bradrice & @amirHossein-Ebrahimi

v4.0.0-alpha.3 has been released.
https://github.com/chintan9/plyr-react/discussions/759

[2022-04-07 05:11] amirHossein-Ebrahimi commented on #740
Thank you @chintan9,

@bradrice could you update package version to the latest and test whether it has the same functionality?
Also you might get type issue, feel free to post them here so we can fix them together.

[2022-04-08 17:00] bradrice commented on #740
I've updated to alpha.3 and I'm not getting type errors in my code. Everything seems to be working ok.

[2022-04-09 14:35] andriken commented on #614
what about sizes, 720, 480 please help with that, I need It

[2022-04-09 14:53] amirHossein-Ebrahimi commented on #614
Hey @andriken I didn't get your question well,

I guess these quality are supported could you take a look at our examples in dev branch for some examples.
If you can make a code-sandbox for future progress that would be appreciated.

[2022-04-09 15:06] andriken commented on #614
Yea I checked the below stackblitz example In which It was present the code for quality, Thanks anyway.

[2022-04-10 02:05] #740 closed

[2022-04-10 03:04] amirHossein-Ebrahimi commented on #740
Hey @chintan9, I think we can follow two-week principle.
If no one report bug on the latest release, we are going to publish a new (non-alpha) version on 24th April.

[2022-04-10 18:10] chintan9 commented on #740
Just before one week we will publish beta version also.

[2022-04-15 00:37] realamirhe commented on #740
Its a time to publish beta 😊.

[2022-04-22 00:37] realamirhe commented on #740
Today is the biggest release we have ever made.

It would be great if you(@chintan9) could [contact me (📧)](mailto:amirhosseinebrahimi77@gmail.com) so we can manage a better release report or changelog for this particular release.

[2022-04-22 13:12] chintan9 commented on #740
@realamirhe Here we can talk https://t.me/+FZ3kOWROgsEzODYx.

[2022-04-26 21:02] bradrice opened #775 "Non passive event listener to a scroll"
**Describe the bug**
This is showing up in my Chrome Dev Tools. It isn't appearing as an error, but is showing as a Violation in the messages tab. I'm not sure where it is coming from, but I thought I would log it here as plyr and react-aptor show in the stack trace.

[code]

![image](https://user-images.githubusercontent.com/272352/165391753-54d37d33-ef22-43d1-ae30-f0a21948f31d.png)

[2022-04-26 21:24] bradrice commented on #775
I'm not sure why, but the issue went away now.

[2022-04-26 21:24] #775 closed

[2022-04-27 00:27] realamirhe commented on #775
Hey brad,
Good to hear it is fixed now, Could you add a piece of code you are customizing?
It may help following readers.

[2022-05-02 20:57] #678 closed

[2022-05-02 20:58] chintan9 commented on #688
use v4
https://github.com/chintan9/plyr-react/blob/master/example/src/custom-hls-player.tsx

[2022-05-02 20:58] #688 closed

[2022-05-06 00:09] #687 closed

[2022-05-09 16:42] chintan9 opened #814 "(JS-0113) Using named capture group is suggested in regular expression"
## Description
With the landing of ECMAScript 2018, named capture groups can be used in regular expressions, which can improve their readability.

## Occurrences
There are 3 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/chintan9/plyr-react/issue/JS-0113/occurrences/](https://deepsource.io/gh/chintan9/plyr-react/issue/JS-0113/occurrences/)

[2022-05-09 17:22] realamirhe commented on #814
Nice, thank you for sharing that, I didn't know about the deep source.
Don't you think it is over-engineering action for the first two reports?

[code]

[2022-05-09 21:25] chintan9 commented on #814
yes it is

[2022-05-09 21:29] chintan9 opened #816 "(JS-D007) Bad usage of `RegExp#exec` and `String#match`"
## Description
`RegExp#exec` and `String#match` are used when we need matches, but it is unnecessary to use when we just want to check if a matching pattern is present in the given string. So, it can cost more in performance of the application.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/chintan9/plyr-react/issu

[2022-05-10 15:21] #814 closed

[2022-05-16 17:30] realamirhe commented on #816
We have migrated the build system completely to rollup and esbuild, and plan to migrate to full swc in soon future. so it is no need to keep the config section at all.

https://github.com/chintan9/plyr-react/pull/821

[2022-05-16 19:49] #816 closed

[2022-05-20 12:46] bosbode opened #836 "Multiple players not working"
When mapping through multiple items, all with their own player. Only one player loads the rest stay blank.

[2022-05-20 12:49] bosbode opened #837 "Not working with React 18"
React 18 is not an acceptable dependency. So the package only works with a downgrade to React 17.

[2022-05-20 14:05] realamirhe commented on #837
Hey @bosbode, Thanks for the report
Support for React 18 has been added to the core `plyr-react`
https://github.com/chintan9/plyr-react/blob/master/package.json#L157
but we need to update the documentation so we can release it.

@chintan9, could we have a new beta (RC) release sooner?

[2022-05-20 14:09] realamirhe commented on #836
Thanks for your report @bosbode,
Could you please reproduce the scenario in a code sandbox, so we can discuss it further in the frozen environment and update you with the changes?

[2022-05-20 20:46] chintan9 commented on #837
@bosbode  Please refer this one https://codesandbox.io/s/plyr-react-new-api-forked-s8kksp?file=/src/App.tsx

[2022-05-25 09:17] bosbode commented on #836
Hi @realamirhe thanks for the reply. Here's the sandbox https://codesandbox.io/s/elated-faraday-3r194i
In the sandbox the players load the posters, but when you press play nothing happens. When loading a single video from the json file it works as expected.

[2022-05-26 03:42] realamirhe commented on #836
hey @bosbode, the problem seems to exist because of SSR issue.

The Plyr should interact with the dom, and the way it should be used is something like [this](https://chaseohlson.com/plyr-gatsby-youtube-vimeo)

We might make a helper wrapper for the SSR support to try to load the package only to the client.

Also, I made a NextJs version of your code sandbox in our example director ([example/nextjs

[2022-05-26 11:50] bosbode commented on #836
Hey @realamirhe, thanks for the looking into it. I've fixed by using the normal PLYR package. https://codesandbox.io/s/frosty-cache-6j67ms

[2022-05-26 13:40] realamirhe commented on #836
Nice to hear that
So I'm going to close the issue, feel free to open a new one if it remains.

[2022-05-26 13:40] #836 closed

[2022-05-27 20:09] maxhelsel opened #854 "Can't seem to get the package working and import errors for v5"
I've been using the regular Plyr package and have it working. Was gonna give this a try, but I can't seem to get off the ground here.

Simply trying to import the following according to docs:
[code]

leads to this:

[code]

The packages are installed and present in node modules folder. I feel like this might be some webpack black magic stuff??

Not sure what the deal is - any thoughts or solutions

[2022-05-27 20:49] chintan9 commented on #854
@maxhelsel  Can you use v5.0.1 from now on?

Let me know if have any issue right now.

[2022-05-28 05:01] realamirhe commented on #854
I still have the issue.
Also, the suggestion for version `5.0.1` seems to be more than the dist directory itself

<img width="440" alt="image" src="https://user-images.githubusercontent.com/23579958/170810709-ba3a3a6b-ecb0-43fe-b28e-35670d99fd9a.png">

could you check what does the following command logs in the directory you want to publish

[code]

[2022-05-29 13:22] NTag commented on #854
On my side, v5.0.1 too, importing plyr-react works well, however importing the CSS file `import "plyr-react/plyr.css";` is broken:

[code]
<img width="642" alt="CleanShot 2022-05-29 at 15 20 15@2x" src="https://user-images.githubusercontent.com/906276/170870951-69a18ae8-9433-4e6a-8c90-f858f3739af2.png">

It's just a CRA TypeScript app. Thanks!

[2022-05-29 13:41] NTag commented on #854
Hum actually even if the import of `plyr-react` is working, when you try to use the `<Plyr` component, at runtime a crash happens because of this line: https://github.com/chintan9/plyr-react/blob/master/dist/esm/index.js#L87

<img width="501" alt="CleanShot 2022-05-29 at 15 40 18@2x" src="https://user-images.githubusercontent.com/906276/170871919-43ed5404-735b-4fad-a11d-b164be4a2c32.png">
<img wid

[2022-05-29 14:45] maxhelsel commented on #854
@chintan9 v5.0.1 allowed me to import the Plyr and its CSS - however, I then got same message @NTag received "React is not defined"

[2022-05-29 16:59] realamirhe commented on #854
It seems there was a problem in tsx section for ESM modules

could anyone test the latest version

[code]

[2022-05-30 12:58] SirVizzy commented on #854
I'm currently having the same issues for 5.0.1 where "React is not defined".

[2022-05-30 14:13] NTag commented on #854
@realamirhe I just tested and it works! Both importing and using `plyr-react` and importing the css file in my CRA TypeScript project. I think you can publish a 5.0.2 version. Thanks a lot!

[2022-05-30 14:49] realamirhe commented on #854
@chintan9 could you republish the package for `version 5.0.2`

[code]

[2022-06-01 13:45] ThianHooi commented on #854
Is this issue resolved? I am facing the same issue using `version 5.0.1`. I think there is no new release yet. Or is there any workaround for now

[2022-06-02 18:39] chintan9 commented on #854
We are having issue with v5.

Please use v4 until further notice

[2022-06-10 11:50] altechzilla opened #866 "ReferenceError: require is not defined in ES module scope, you can use import instead"
**Describe the bug**
ReferenceError: require is not defined in ES module scope, you can use import instead

**To Reproduce**
`"plyr-react": "^5.0.2",`

**Expected behavior**
For some reason, the library breaks the compiler when used inside a Node Module.

**Screenshots**
![image](https://user-images.githubusercontent.com/8274669/173056974-cb2896de-7767-43b7-9594-809f560fd9e4.png)

[2022-06-10 12:11] realamirhe commented on #866
Hi @altechzilla

Does the method mentioned in [this comment](https://github.com/chintan9/plyr-react/issues/854#issuecomment-1140487124) working for you?

I think the version 5.0.2 is reversion release on top of latest stable release for v4.
@chintan9 could we please update the repeated doc to notify users

[2022-06-10 12:25] altechzilla commented on #866
It works if I remove “type”: “module” from the NPM module in which Plyr is being used. Otherwise, it throws that error. @realamirhe

[2022-06-10 16:37] realamirhe commented on #866
I guess you are using plyr-react in non pure esm compatible environment.

The v5 designed to separate these field (esm, umd, system).
But in this case you might need to change the import path to system directory

"plyr-react/system"

[2022-06-10 17:57] altechzilla commented on #866
Doesn't seem to work either, unless I'm missing something?:
![image](https://user-images.githubusercontent.com/8274669/173124097-d43305a5-a0ee-4a3c-92f9-7704630ba3d0.png)

[2022-06-10 18:14] realamirhe commented on #866
I'm not sure, but it must not happen cause we are expose the whole lib.

It seems that the system is not recognized cause we didn't specify it implicitly in package.json, could you please add that field in package.json?
under '.' filed, and see wether it solves the issue,

https://github.com/chintan9/plyr-react/blob/5c4bc57f9aa0612478ca54e571724169b565302e/package.json#L27-L32

Something similar t

[2022-06-10 18:24] realamirhe commented on #866
sorry for inconvenient behaviour @altechzilla, in case you want to make you app up and running
You can use [version 4.0.0-alpha.5](https://www.npmjs.com/package/plyr-react/v/4.0.0-alpha.5) which is all the same version 5.0.2 except minor improvement in typing and build process.

We will fix these issue ASAP, also PR is always welcomed

[2022-06-10 19:27] c-mella opened #867 "PC vs Mac Autoplay"
When testing the player on different browsers I've noticed that videos that are set to autoplay will work fine on Mac but PC browsers (namely Chrome and FF so far) will just have the poster image and wont play until clicked on. Is this a known bug (I'm on v4.0 alpha)?

[2022-06-11 04:17] realamirhe commented on #867
Hey @c-mella , I'm thinking of a browser implementation limitation (design decision), but if it  is not relevant you can do following:

Based on this [plyr issue](https://github.com/sampotts/plyr/issues/1185), you can call `play()` on your own, for event implementation showcases you can take look at  our [example directory](https://github.com/chintan9/plyr-react/blob/master/example/react/src/audio

[2022-06-19 10:30] altechzilla commented on #866
Okay, the old alpha worked. Looking forward for an update on v5. Thanks!

[2022-06-19 10:36] altechzilla opened #873 "TypeError: Cannot read properties of null (reading 'getAttribute')"
When loading a page with a player on localhost, a `TypeError: Cannot read properties of null (reading 'getAttribute')` error pops up.

**To Reproduce**

Steps to reproduce the behavior:

1. Place a video on a page using a Plyr player.
2. Navigate from one route (without a player) to another (with a player)

**Expected Behavior**

No popup error.

**Screenshots**

![image](https://user-images.githu

[2022-06-25 10:43] altechzilla opened #878 "Navigating Away from a Route Throws a Warning"
**Describe the bug**
![image](https://user-images.githubusercontent.com/8274669/175770127-147afe13-c21e-4b42-9f14-ab47687e3b21.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Insert a YouTube Plyr
2. Navigate away from the route it's on

**Desktop (please complete the following information):**

- OS: macOS
- Browser: Chrome
- Version: Latest

[2022-07-05 19:48] bradrice opened #890 "CSS missing in CodeSandbox example"
The typescript example is missing the css dependency.

https://codesandbox.io/s/plyr-react-new-api-forked-cg08k?file=/src/App.tsx

[2022-07-06 00:03] realamirhe commented on #890
Hey Brad,

In version 5.0.1 it was imported from the package name direct descendant.

[code]

But it must return to its normal import path in the latest release.

On Wed, Jul 6, 2022 at 12:19 AM Brad Rice ***@***.***> wrote:

[2022-07-06 13:32] bradrice commented on #890
Thanks

[2022-07-06 13:32] #890 closed

[2022-07-06 13:39] bradrice opened #891 "useEffect for adding api getting recalled on user events"
I'm having an issue with the useRef where I setup an api to call play after my source is ready. However, I also have a control on my page to increase or decrease the font size on the page, and for some reason the audio stops and restarts at the beginning. I've determned the useEffect is getting called again on that event. I cannot seem to figure out how to not call the useEffect and still get my p

[2022-07-06 14:26] realamirhe commented on #891
Could we store a variable (state, or something in the eventbus) and prevent the useEffect manually in some scenarios which are not desired. for example

[code]

You can also use the ref for it to prevent re-render

[code]

Feel free to add the extra variables based on your need, and LMK if it solves your question or not

[2022-07-06 18:04] bradrice commented on #891
I tried both suggestions and nothing seems to work. It might be something in my own code causing the rerender, but if I view the html that is rendered by the code in the Dev Tools, I do see the div with class="class="plyr plyr--full-ui plyr--audio plyr--html5 plyr--playing" and wrapper div being redrawn regardless of anything above being re-rendered.
However, I have other onClick handlers on the p

[2022-07-07 00:37] realamirhe commented on #891
The usePlyr hook received third argument for its dep array (it is totally the same as useEffect one)
[running the div](https://github.com/chintan9/plyr-react/blob/master/src/index.tsx#L77)

Could you give it a shot to optimize the rendering and instantiation, separately from your events handler logics

[2022-07-08 19:37] realamirhe commented on #866
Hey @hacknlove, No unfortunately its not.

Currently we have issue in the packaging, @chintan9 might be better fit to clarify the issue.

[2022-07-12 13:41] c-mella opened #896 "Quartile Data"
Hey,

Would it be possible to bake in a way to get an event on quartile (start/25%/50%/75%) completion the same way we have it for video completion? I've been building these to mixed results and I feel like it would be a great feature to add to the library.

Thanks!

[2022-07-13 07:08] hacknlove commented on #866
is there any problem with this PR?

https://github.com/chintan9/plyr-react/pull/892

It seems it will solve the issue.

I think the only thing missing there is to build it, so the dist gets fixed too.

[2022-07-21 18:05] sakib412 commented on #866
I created this PR. https://github.com/chintan9/plyr-react/pull/892
This fixes the issue. Don't know why they are not merging.

[2022-07-21 20:26] chintan9 commented on #866
Please add this line at 2 https://github.com/chintan9/plyr-react/blob/master/src/index.tsx

import PropTypes from 'prop-types'

[2022-07-21 20:27] chintan9 commented on #866
I will merge it

[2022-07-21 20:55] chintan9 commented on #854
v5.1.0 was published

[2022-07-25 08:51] deadcoder0904 commented on #854
can confirm. v5.1.0 works 🎉

[2022-07-25 18:39] #854 closed

[2022-07-25 18:40] #736 closed

[2022-07-25 18:40] #747 closed

[2022-07-25 18:41] #866 closed

[2022-07-25 18:45] #867 closed

[2022-07-28 17:50] realamirhe commented on #891
The default value for the deps is null and use following for inner
dependency array

[code]

 I'm somehow losed the context, but think that separating the hooks into
multiple `useEffect` with different dep-array or add custom `useEffect` for
first render that change src can be helpful.
Let me know, if these could solve your solution.

On Thu, Jul 28, 2022, 18:19 Brad Rice ***@***.***> wrote:

[2022-08-01 19:01] chintan9 commented on #896
sure you can raise the PR for that?

[2022-08-01 19:01] chintan9 commented on #878
can you create codesandbox example?
@altechzilla

[2022-08-03 16:06] bradrice opened #915 "Writing jest test throws a TypeError in component"
**Describe the bug**
When I write a test to test my audio or video component I get errors. I'm able to set an ErrorBoundary in components that import the audio or video component, but testing the component directly is an issue.

**To Reproduce**
write a jest test on the compoenent

**Expected behavior**
A passing test

Error is:
TypeError: 'toString' called on an object that is not a valid instanc

[2022-08-04 06:20] realamirhe commented on #915
I guess that's because, renderer will render shallowly one level by default.

Did you try to mock plyr for your jest?
could you provide your test and jest setup?

for more information could you check our jest
[Plyr.test.tsx](https://github.com/chintan9/plyr-react/blob/master/tests/Plyr.test.tsx#L6)

[2022-08-04 13:02] bradrice commented on #915
As always, Emir, you are a big help to me. That was the solution.

[2022-08-04 13:02] #915 closed

[2022-08-04 15:46] alexandrsek opened #916 "How to override download button link?"
Hi! I have multiple video qualities, but when I click on download button I need to download an original file from another server.
How this can me accomplished?

[2022-08-05 05:05] realamirhe commented on #916
Hey @alexandrsek,
Could you follow `url` guide from `plyr` documentation

https://github.com/sampotts/plyr

[2022-08-05 23:56] Welfordian opened #917 "State Update Causes Re-Render"
**Describe the bug**
When using the React state, any changes to the state (even if it's irrelevant to the player) cause the player to re-render.

**Expected behavior**
Change to state not relevant to the player should not cause a re-render.

[code]

Calling `this.setState({ something: 'else' })` will re-render the player.

[2022-08-09 16:20] vinay0x commented on #917
Faced the same issue. It's weird. My solution was to create a custom wrapper for <Plyr /> and adding React.memo to it. That'll fixi t.

[2022-08-10 04:17] realamirhe commented on #917
set state will cause your component to re-render, by default we source and options as a deps-array for our re-render options.
see details in deps-array fallback [here](https://github.com/chintan9/plyr-react/blob/master/src/index.tsx#L88)

to solve this, memoize your `source` and `options` or if they are static hoist them to the top of your program.

[2022-08-17 18:53] #837 closed

[2022-08-19 17:46] hohuuduc opened #929 "Another way to test Plyr."
Sorry if my english is too bad.

i want to ask is there a way to subscribe to an event instead of having to check Plyr after every render?

[2022-08-19 18:39] #929 closed

[2022-08-29 21:58] c-mella opened #938 "Custom Controls on iOS"
I am using usePlyr to create a custom plyr instance but on mobile the audio controls don't work. The icon shows as unmuted and doesn't unmute the audio when tapped. Has anyone else had this issue?

[code]

[2022-08-30 09:15] realamirhe commented on #938
What browser are you using on your iOS device? If you are using safari it seems that:

Could you provide more info and post your founded solution to this issue too?

[2022-08-30 13:28] c-mella commented on #938
@realamirhe This is happening on both Safari and Chrome on iOS and I'm using regular mp4 files. As of now I haven't found a solution for how to make this work yet.

[2022-08-30 18:02] chintan9 commented on #938
iOS use webkit engine (safari under the hood).

Can check event is triggering or not?

Thanks for reporting.

[2022-08-30 19:36] c-mella commented on #938
Ok so I ran a test where i set the function to either increase or decrease based on the volume coming from the player and no matter what happened it always defaulted to decreaseVolume. This leads me to believe that the problem is in the connection between the player ref and the controls. For reference the togglePlay function will always fire and work properly.  Same as before this worked fine on d

[2022-08-30 20:06] c-mella commented on #938
I also ran a test where I used the custom metric of "muted" to set the function but in that case even though the event registered and printed "event fired to decrease", the audio would be stuck at 1.

Here's the code for context:

`
                        onClick={() => {
                            if (muted) {
                                console.log("event fired to increase");

[2022-08-31 02:20] realamirhe commented on #938
Thanks for the detailed test @c-mella; could you put log (alert) down on the plyr `increaseVolume`?
Or even simpler could you make the same functionality using plyr in codepen and test it on safari?
Here is a simple starter kit ([codepen](https://codepen.io/sampotts/pen/jrRJYp))

[2022-08-31 02:21] realamirhe commented on #938
How and when do you grab the muted property?

[2022-08-31 02:28] c-mella commented on #938
I'll work on getting you that detailed CodePen test, in the meantime here's a breakdown of the muted property.

In the original code snippet I set it in using useState with a default value of true and then update it using useEffect whenever there is a change in volume (This work on Desktop but not mobile)

`
const [muted, setMuted] = useState(true);

........

setMuted(api?.plyr?.volume === 0);`

[2022-08-31 06:06] realamirhe commented on #938
Hmm, that's weird, in case you don't get an error in calling the function it means that you get some proper instance of Plyr instead of the default proxy.

I'm waiting for your codepen test, so we can trace down the issue more properly.
Thanks for your effort @c-mella.

[2022-08-31 17:38] c-mella commented on #938
I removed a lot of the dynamic aspects of the code and replaced it with hard coded values in order to make the test work but here is the sample code for you to review.

https://codepen.io/c-mella/pen/JjvPRjM

Thanks again for you help

[2022-09-02 15:08] chintan9 commented on #873
can create codesandbox demo for us?

[2022-09-04 11:31] amrtaher1234 opened #940 "Player events does not trigger any callbacks"
**Describe the bug**
the player events like `onPause` and `onPlay` does not trigger anything, I tried to run such events on the provided stackblitz link provided in your README here https://stackblitz.com/edit/react-fpmwns?file=src%2FApp.js and still nothing happens
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://stackblitz.com/edit/react-fpmwns?file=src%2FApp.js '
2. Add to t

[2022-09-04 14:23] realamirhe commented on #940
Hey, @amrtaher1234 thanks for the report,
Plyr ecosystem overrides the actual video playing system, so the actual [HTMLMediaElement](https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/play_event) won't work as expected.
You can use plyr [Standard Media Events](use https://github.com/sampotts/plyr#standard-media-events) instead.
take a look at our examples in the examples directory
a

[2022-09-06 01:53] haluvibe commented on #873
You can't because the issue only appears during yarn dev - not after it's built so codesandbox won't be able to replicate the issue but it's easy as starting a new nextjs project and

export default function IndexPage() {
  return (
    <div>
      <Plyr
        source={{
          type: "video",
          sources: [{ src: "9bZkp7q19f0", provider: "youtube" }]
        }}
      />
    </div>
  );
}

[2022-09-06 03:59] realamirhe commented on #873
Hey @haluvibe , the only non-serverside action I'm suspicious of it is about this line:
https://github.com/chintan9/plyr-react/blob/f5d6ab7b26fc4335b8eca499001369c77495cdfd/src/index.tsx#L38

But the error and our may the last investigation shows that the problem was related to the plyr itself.
Even when I used the next dynamic import with `ssr: false` on custom Plyr wrapper component it didn't wo

[2022-09-13 17:44] c-mella commented on #938
Hi, just wanted to see if you'd had a chance to review?  I just went in and revised the pen with a new video because I realized the previous one had very subtle audio so it wouldnt be easy to test.

[2022-09-14 04:37] realamirhe commented on #938
oh sorry for delay @c-mella,

I might miss the notification or didn't get one, please directly mention me if I didn't respond.

I'm going to review it today.
Thanks for your help ❤️

[2022-09-15 14:32] baraglobal commented on #510
@mikestecker What was your fix for this in the end?

[2022-09-15 16:43] c-mella commented on #938
@realamirhe Thanks again for looking into it, I'm not sure what the issue is but I and my teammates are still seeing the video as muted no matter how much we click the unmute button. I'm not sure if this helps but I'm on an iPhone 13 running iOS 15.6

[2022-09-22 03:30] tomtang1122 opened #957 "require is not defined"
on  v5.0.1

[code]

[2022-09-22 04:28] realamirhe commented on #957
Hey @tomtang1122

We are a pure ESM package for now, although we have another build-type (e.g. CJS) ready to use we are not exposing them in the package.json.

You can read more about it [here](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c)

And if you tell us about your use case @chintan9 might consider providing our CSJ export for the next releases.

[2022-09-22 06:26] tomtang1122 commented on #957
thanks, but i hav anther question,

![image](https://user-images.githubusercontent.com/74886370/191672524-dc34ff61-9407-41f2-9ef2-265ff646efe7.png)
 console:
![image](https://user-images.githubusercontent.com/74886370/191672792-5ba6f683-fd4c-4e47-8ad9-8e722ee6e328.png)
it is a Procy object

I can get the Plyr Instance when add the setTimeout
![image](https://user-images.githubusercontent.com/74886

[2022-09-22 06:43] tomtang1122 opened #958 "I can't I get Plyr Instance"
Why can't I get Plyr Instance directly from useEffect

![image](https://user-images.githubusercontent.com/74886370/191676119-36b3ab42-2462-4f19-8ce6-5caa7d16253c.png)
console: ( It is a Procy object )
![image](https://user-images.githubusercontent.com/74886370/191676170-47c94535-9612-46bc-aa33-ee7a09d58a38.png)

I can get the Plyr Instance when add the setTimeout:
![image](https://user-images.gith

[2022-09-22 11:43] realamirhe commented on #957
Hey @tomtang1122 ,
The reason you are getting the proxy in the first place cause for performance reasons we are not re-rendering the `<Plyr />` component in the first place and mainly using it for the Static contents.

For attaching event listeners, and working directly with the plyr instance you can work with out custom hook `usePlyr` instead

Here is the main proposal for the hook: https://githu

[2022-09-23 02:03] haluvibe commented on #873
no idea, I can't have multiple videos with this library unfortunately atm

[2022-09-23 02:18] #958 closed

[2022-10-03 13:20] Johannes5 opened #968 "Question: triggering autoplay and fullscreen on initial render"
How would you trigger a video to start playing and triggering fullscreen (as fast as possible), following the initial render of the video component?

The specific flow I have in mind:
user clicks on thumbnail -> a route like /video/youtube/38j9hF378hf opens -> video is playing in fullscreen automatically.

[2022-10-03 13:26] realamirhe commented on #968
Autoplay functionality as deafult is not guaranteed to be safe in cross-browser modes.
If it were I would suggest working with passed props.

Now I suggest using `usePlyr` and adding useEffect to call a play and fullscreen methods of plyr instance by yourself.

[2022-10-04 15:12] Johannes5 commented on #968
is there an ideal time (event) to enable fullscreen?
I've tried it on "ready" and on "canplay", but it doesn't enter fullscreen on safari, firefox, or chromium browsers.

[code]

note that duration is returning 0 and enabled is returning true

---
autoplay works, when I have it enabled in the browser settings and when the provider is vimeo.
For youtube, it just doesn't

[2022-10-05 05:57] realamirhe commented on #968
As plyr core maintainer said:

https://github.com/sampotts/plyr/issues/1981

For autoplay, there might be a temp solution that works for your case, but you might need to check these issues:
https://github.com/sampotts/plyr/issues/1185

https://webkit.org/blog/6784/new-video-policies-for-ios/
https://developers.google.com/web/updates/2017/09/autoplay-policy-changes
https://hacks.mozilla.org/2019/02

[2022-10-05 07:38] Johannes5 commented on #968
In a view that only shows a video, I think it makes sense to autoplay and go fullscreen.
Especially on mobile, I want the video (the thumbnail of which has just been clicked in the previous view) to just play on the entire screen in panorama mode.

What could I do besides
api.plyr.play() inside the "canplay" event?

[2022-10-05 07:48] realamirhe commented on #968
Have you tried to set the muted property of the video?
It might be a good option to ask forward the issue to plyr team, they have more experience in the browser-related features.

[2022-10-05 10:37] Johannes5 commented on #968
I created an issue for pylr
https://github.com/sampotts/plyr/issues/2537
----
I've tried setting muted to true like this: <video muted={true}  />
I was pleasantly surprised at first to find that the autoplay suddenly worked after I refreshed again (this time using the Firefox-based Replay browser).
But then I refreshed again and from then on it never autoplayed.

After some time, I refreshed the r

[2022-10-08 09:36] AmmadKhanM commented on #873
the same issue I am facing in my project, can anyone give a solution, please...

[2022-10-22 13:56] Mondmarmelade opened #974 "Question: Change Player Style"
Hey!
I am currently using the newest version of plyr-react (5.1.0).
The style of the navigation bar change between version v4 and v5. Is there a way I can use the v4 look with v5?
Thanks in advance.

### v5:
![v5](https://user-images.githubusercontent.com/91614367/197342848-af9868cd-92dc-4cc1-8928-89f52245d62e.png)

### v4:
![v4](https://user-images.githubusercontent.com/91614367/197342869-a50ce2a

[2022-10-23 00:52] realamirhe commented on #974
Hey @Mondmarmelade,
what version of plyr you have in your node_modules

[code]

I'm not sure about plyr update in the code, guess didn't alter the plyr version, also we don't touch the minified CSS at all (just copy it to our dist through our pipeline)

https://github.com/chintan9/plyr-react/commit/673985bf8649601217c6fd711ac1e6299cb8dd3a#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6

[2022-10-23 15:01] Mondmarmelade commented on #974
Version 3.7.2 of plyr.

[2022-11-04 14:08] erip2 commented on #873
Same issue here.
It also happens on this repo's Next.js example project.

[2022-11-17 10:48] abhagsain opened #991 "passing container to options.fullscreen isn't working"
**Describe the bug**
Want to add custom elements to the Fullscreen video. That can be achieved that by passing `container` to`options.fullscreen` (https://github.com/sampotts/plyr/pull/1759)
I have been trying to make it work but couldn't.

**To Reproduce**
Steps to reproduce the behavior:

1. Here's the [StackBlitz](https://stackblitz.com/edit/react-ts-ewpjjj?file=App.tsx) code
2. If you don't pa

[2022-11-17 19:15] abhagsain commented on #991
I thought passing `container` to options mean, it would create the specified container and add the video element under it.
I read the [source code](https://github.com/sampotts/plyr/pull/1759/files#diff-297c3b0a5b23f245a55265a895793e2120cade8051a84ca9ad997fdde677a0dfR30) and it's expecting the `id` to be present in the DOM 🤦
Closing this.

[2022-11-17 19:15] #991 closed

[2022-11-19 16:09] #974 closed

[2022-11-21 19:23] yek99kr opened #996 "Question: Is there a way to set the autoPause to false?"
Is there a way to set the autoPause to false with plyr-react?

`<Plyr
            autoPlay={true}
            autoPause={false}
            loop={{ active: true }}
            muted={true}
            allowFullScreen
            source={videoSrc}
          />`

I tried setting it like autoPlay but it seems like does not exist :(

Plyr autopause property
<img width="906" alt="Screen Shot 2022-11-21

[2022-11-21 20:37] #996 closed

[2022-11-22 07:02] derochedesign opened #997 "Importing css doesn't work with Sass"
Not sure if this is an issue with plyr itself or with plyr-react. The styles in the plyr repo seem much different than those here (they use scss, for starters).

**Describe the bug**
When importing `import "plyr-react/plyr.css";` no styles are imported. When copy/pasting the css rules into my own styles, our sass loader finds an error with this specific rule: `margin-right: calc(-7px - -2);` (whic

[2022-11-22 20:54] chintan9 commented on #997
@realamirhe  I will do it

[2022-11-24 03:41] derochedesign commented on #997
Hey all, just for some guidance, is this a fix we could expect in the next week or so? Or is it more like a month away? No issue either way, just looking to plan my work around it.

[2022-11-25 10:12] Johannes5 opened #998 "Question: How do I use setters with a ref?"
Plyr has setters and getters:
<img width="462" alt="image" src="https://user-images.githubusercontent.com/14299835/203957798-80841b43-140e-4003-a39f-eabd1380155f.png">

I would like to use shortcuts to change the playing speed.
According to the above examples, with plyr this would be done with
`player.speed = 1.8`

But since I am using the forwarded ref from a custom plyr instance I've tried it li

[2022-11-26 04:12] realamirhe commented on #997
hey @derochedesign, in case @chintan9 miss your message, I guess it won't take more than a week. he occasionally publishes the latest version changes within his weekend.

[2022-11-26 04:16] realamirhe commented on #998
Hey @Johannes5

speed is a attributes that `options` props received, so you can store them in the state (or ref) conditionally and re-render your component with new speed. Is that solve your problem?